beaker==1.9.0
pyramid==1.5b1
pyramid_jinja2==1.10
pyramid_debugtoolbar==2.0.2
pyramid_beaker==0.7
pyramid_tm==0.7
colander==1.3.3
deform==2.0a2
Babel==1.3
lingua==1.5
pymongo==3.4.0
py-bcrypt==0.4
gunicorn==18.0
celery==3.0.24
celery-with-mongodb==3.0
pyramid_celery==1.3
cornice==0.16.2
jsonschema==2.3.0
gevent==1.2.1
gevent-websocket==0.9.3
gevent-socketio==0.3.6
redis==2.10.3
WebHelpers==1.3
Paste==1.7.5.1
PyChef==0.3.0
ordereddict==1.1
xmltodict==0.9.0
requests==2.13.0
BeautifulSoup==3.2.1
iscompatible==0.1.1
pycrypto
xhtml2pdf
