{% extends "base_navbar.jinja2" %}

{% block nav_bar_home %}{% endblock %}
{% block nav_bar_admins %}active{% endblock %}

{% block extraheader %}
<!-- Tree CSS -->
<link href="{{request.application_url}}/static/css/fuelux.css" rel="stylesheet">

<style>
    .container {
        padding-bottom: 30px;
    }

    #tree > div {
        padding: 15px 30px;
    }

    #tree > div > .panel {
        height: 350px;
        margin-bottom: 0;
    }

    #tree #ex-tree {
        height: 307px;
    }
</style>
{% endblock %}

{% block inner_content %}
<div class="container">
    <h1>Administradores</h1>
    <div class="row" id="users"><div class="col-sm-12">
        <div class="panel-group mb10" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="fa fa-user"></span> Juan Nadie
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Nombre de usuario</label>
                                        <p class="form-control-static">juannadie</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <p class="form-control-static">654 99 88 77</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <p class="form-control-static">juan.nadie@gmail.com</p>
                                    </div>
                                    <div class="row"><div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <p class="form-control-static">Juan</p>
                                        </div>
                                    </div><div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label>Apellidos</label>
                                            <p class="form-control-static">Nadie</p>
                                        </div>
                                    </div></div>

                                </div>
                            </div>
                            <div class="row"><div class="col-sm-12">
                                <div class="form-group">
                                    <label>Dirección</label>
                                    <p class="form-control-static">C/ Principal, num 123</p>
                                </div>
                            </div></div>
                        </form>
                    </div>

                    <div class="row fuelux" id="tree"><div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="text-muted bootstrap-admin-box-title">Permisos para Unidades Organizativas</div>
                            </div>
                            <!-- tree -->
                            <div id="ex-tree" class="tree bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
                                <div class="tree-folder" style="display:none;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder"></span>
                                        <div class="tree-folder-name"></div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: none;"></div>
                                </div>
                                <div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder-open"></span>
                                        <div class="tree-folder-name">OU 1</div>
                                    </div>
                                    <div class="tree-folder-content"><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder-open"></span>
                                        <div class="tree-folder-name">OU 1</div>
                                    </div>
                                    <div class="tree-folder-content"><div class="tree-folder tree-selected" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder"></span>
                                        <div class="tree-folder-name">OU 1</div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder-open"></span>
                                        <div class="tree-folder-name">OU 2</div>
                                    </div>
                                    <div class="tree-folder-content"><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder"></span>
                                        <div class="tree-folder-name">OU 1</div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder"></span>
                                        <div class="tree-folder-name">OU 2</div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div><div class="tree-folder tree-selected" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder"></span>
                                        <div class="tree-folder-name">OU 3</div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div><div class="tree-folder tree-selected" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder"></span>
                                        <div class="tree-folder-name">OU 3</div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder"></span>
                                        <div class="tree-folder-name">OU 2</div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder"></span>
                                        <div class="tree-folder-name">OU 3</div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder-open"></span>
                                        <div class="tree-folder-name">OU 2</div>
                                    </div>
                                    <div class="tree-folder-content"><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder"></span>
                                        <div class="tree-folder-name">OU 1</div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder-open"></span>
                                        <div class="tree-folder-name">OU 2</div>
                                    </div>
                                    <div class="tree-folder-content"><div class="tree-folder tree-selected" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder"></span>
                                        <div class="tree-folder-name">OU 1</div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder"></span>
                                        <div class="tree-folder-name">OU 2</div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder"></span>
                                        <div class="tree-folder-name">OU 3</div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder"></span>
                                        <div class="tree-folder-name">OU 3</div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div><div class="tree-folder" style="display: block;">
                                    <div class="tree-folder-header">
                                        <span class="fa fa-folder"></span>
                                        <div class="tree-folder-name">OU 3</div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display: none;"><div class="static-loader">Loading...</div></div>
                                </div>
                            </div><!-- /.tree -->
                        </div>
                    </div></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <span class="fa fa-user"></span> Quisque Luctus
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <span class="fa fa-user"></span> Sed Vestibulum
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            <span class="fa fa-user"></span> Nulla Elementum
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            <span class="fa fa-user"></span> Donec Auctor
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                            <span class="fa fa-user"></span> Cras Convallis
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>

        <a href="/users/" class="btn btn-primary"><span class="fa fa-plus"></span> Añadir administrador</a>
    </div></div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{{request.application_url}}/static/js/datasourceTree.js"></script>
<script src="{{request.application_url}}/static/js/libs/underscore-1.5.2.min.js"></script>
<script src="{{request.application_url}}/static/js/libs/backbone-1.1.0.min.js"></script>
<script src="{{request.application_url}}/static/js/libs/backbone.marionette-1.2.2.min.js"></script>
<script src="{{request.application_url}}/static/js/app.js"></script>
<script src="{{request.application_url}}/static/js/tree.js"></script>

<script>
    $(document).ready(function () {
        // Navigation tree
        var dataSourceTree = new DataSourceTree({
            data: [
                { name: 'OU 1', type: 'folder', additionalParameters: { id: 'F1' } },
                { name: 'OU 2', type: 'folder', additionalParameters: { id: 'F2' } },
                { name: 'OU 3', type: 'folder', additionalParameters: { id: 'F3' } }
            ],
            delay: 400
        });

        $('#ex-tree').tree({
            dataSource: dataSourceTree,
            loadingHTML: '<div class="static-loader">Loading...</div>',
            multiSelect: true,
            cacheItems: true
        });
    });
</script>
{% endblock %}
