{% extends "base_navbar.jinja2" %}

{% block extraheader %}
<!-- Tree CSS -->
<link href="{{request.application_url}}/static/css/fuelux.css" rel="stylesheet">
{% block moreheader %}{% endblock %}
{% endblock %}

{% block inner_content %}
    <!-- left, vertical navbar -->
    <div id="sidebar" class="col-sm-3 bootstrap-admin-col-left fuelux">
        <div id="nav-tree" class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><span class="fa fa-search"></span></button>
                    </span>
                </div>
            </div>
            <!-- tree -->
            <div id="ex-tree" class="tree bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
                <div class="tree-folder" style="display:none;">
                    <div class="tree-folder-header">
                        <span class="fa fa-folder"></span>
                        <div class="tree-folder-name"></div>
                    </div>
                    <div class="tree-folder-content"></div>
                    <div class="tree-loader" style="display:none"></div>
                </div>
                <div class="tree-item" style="display:none;">
                    <span class="fa fa-user"></span>
                    <div class="tree-item-name"></div>
                </div>
            </div><!-- /.tree -->
        </div>

        <div id="events" class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Cola y Eventos</div>
                <button id="maximize" class="btn btn-xs btn-default pull-right" title="Maximizar"><span class="fa fa-plus"></span></button>
                <button id="minimize" class="btn btn-xs btn-default pull-right hide" title="Minimizar"><span class="fa fa-minus"></span></button>
                <button class="btn btn-xs btn-default pull-right" title="Refrescar"><span class="fa fa-repeat"></span></button>
            </div>
            <div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
                <div class="long hide row mb10">
                    <div class="col-xs-12 col-sm-8 col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Filtra">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="fa fa-search"></span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#"><span class="fa fa-user"></span> Usuarios</a></li>
                                    <li><a href="#"><span class="fa fa-group"></span> Unidades organizativas</a></li>
                                    <li><a href="#"><span class="fa fa-asterisk"></span> Cualquier cosa</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li class="task">
                        <button class="long hide btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> Cambio 10 - <span class="fa fa-desktop type-icon"></span> <span class="short">Sede Central...</span><span class="long hide">Sede Central, alta de un nuevo puesto de trabajo</span>
                        <span class="badge pull-right">2/4</span><span class="pull-right fa fa-clock-o" title="Chef"></span>
                    </li>
                    <li class="task">
                        <button class="long hide btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> Cambio 11 - <span class="fa fa-group type-icon"></span> <span class="short">Sede Central...</span><span class="long hide">Sede Central, alta de una nueva unidad organizativa</span>
                        <span class="badge pull-right">3/4</span><span class="pull-right fa fa-clock-o" title="Aplicando"></span>
                    </li>
                    <li class="task">
                        <button class="long hide btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> Cambio 12 - <span class="fa fa-user type-icon"></span> <span class="short">Sede Central...</span><span class="long hide">Sede Central, modificación de los datos de un empleado</span>
                        <span class="badge pull-right">2/4</span><span class="pull-right fa fa-clock-o" title="Chef"></span>
                    </li>
                    <li class="task success">
                        <button class="long hide btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> Cambio 13 - <span class="fa fa-group type-icon"></span> <span class="short">Sede Triana...</span><span class="long hide">Sede Central, modificación de una unidad organizativa</span>
                        <span class="badge pull-right">4/4</span><span class="pull-right fa fa-check" title="Finalizado"></span>
                    </li>
                    <li class="task">
                        <button class="long hide btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> Cambio 15 - <span class="fa fa-globe type-icon"></span> <span class="short">Sede Triana...</span><span class="long hide">Sede Central, política, cambio del fondo de pantalla</span>
                        <span class="badge pull-right">1/4</span><span class="pull-right fa fa-clock-o" title="Calculando"></span>
                    </li>
                    <li class="task error">
                        <button class="long hide btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> Cambio 16 - <span class="fa fa-globe type-icon"></span> <span class="short">Sede Central...</span><span class="long hide">Sede Central, política, cambio del tema de iconos</span>
                        <span class="badge pull-right">3/4</span><span class="pull-right fa fa-times" title="Error"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="viewport-main" class="col-sm-9 col-sm-offset-3">
        <div class="row">
            <div class="navbar navbar-default bootstrap-admin-navbar-thin">
                <ol class="breadcrumb bootstrap-admin-breadcrumb">
                    {% block breadcrumb %}
                    <li class="active">Inicio</li>
                    {% endblock %}
                </ol>
            </div>
        </div>
        {% block main_content %}{% endblock %}
    </div>

    <div id="task-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Cambio 16 - Sede Central, política, cambio del tema de iconos</h4>
                </div>
                <div class="modal-body">
                    <p class="pull-right">Progreso: <span class="label label-danger">3 de 5</span></p>
                    <label>Equipos</label>
                    <ol>
                        <li>Portátil de Juan [juan-laptop]</li>
                        <li>Portátil de Roberto [bob-laptop]</li>
                        <li>Portátil de Anabel [anabel-laptop]</li>
                        <li>Sobremesa del Departamento de Cuentas [cuentas-desktop]</li>
                        <li>Portátil de Lola [lola-laptop]</li>
                    </ol>

                    <label>Logs</label>
                    <ul class="list-unstyled">
                        <li>09:12 Comenzado preparativos</li>
                        <li>09:12 Copiando fichero en almacenamiento compartido</li>
                        <li><span class="text-success">09:13 Terminados los preparativos</span></li>
                        <li>09:13 Comenzando a aplicar cambios</li>
                        <li><span class="text-success">09:14 Cambio aplicado en juan-laptop</span></li>
                        <li><span class="text-success">09:14 Cambio aplicado en bob-laptop</span></li>
                        <li><span class="text-danger">09:14 Error al aplicar cambio en anabel-laptop</span></li>
                        <li><span class="text-danger">09:14 Error: file does not exist</span></li>
                        <li><span class="text-danger">09:14 Abortando</span></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block extrajs %}
    <script src="{{request.application_url}}/static/js/datasourceTree.js"></script>
    <script src="{{request.application_url}}/static/js/libs/underscore-1.5.2.min.js"></script>
    <script src="{{request.application_url}}/static/js/libs/backbone-1.1.0.min.js"></script>
    <script src="{{request.application_url}}/static/js/libs/backbone.marionette-1.2.2.min.js"></script>
    <script src="{{request.application_url}}/static/js/app.js"></script>
    <script src="{{request.application_url}}/static/js/tree.js"></script>

    <script>
        $(document).ready(function () {
            // Sidebar heights
            $('#sidebar').height($(window).height() - 131);
            $(window).on('resize', function () {
                // Recalculate sidebar height
                $('#sidebar').height($(window).height() - 131);
            });

            // Navigation tree
            var dataSourceTree = new DataSourceTree({
                data: [
                    { name: 'Test Folder 1', type: 'folder', additionalParameters: { id: 'F1' } },
                    { name: 'Test Folder 2', type: 'folder', additionalParameters: { id: 'F2' } },
                    { name: 'Test Item 1', type: 'item', additionalParameters: { id: 'I1' } },
                    { name: 'Test Item 2', type: 'item', additionalParameters: { id: 'I2' } }
                ],
                delay: 400
            });

            $('#ex-tree').tree({
                dataSource: dataSourceTree,
                loadingHTML: '<div class="static-loader">Loading...</div>',
                multiSelect: true,
                cacheItems: true
            });

            var events = $("#events");
            $("#maximize").click(function (evt) {
                evt.preventDefault();
                $("#maximize").addClass("hide");
                $("#minimize").removeClass("hide");
                $(document.body).append(events);
                events.find(".short").addClass("hide");
                events.find(".long").removeClass("hide");
                events.addClass("maximize");
            });
            $("#minimize").click(function (evt) {
                evt.preventDefault();
                $("#maximize").removeClass("hide");
                $("#minimize").addClass("hide");
                $("#sidebar").append(events);
                events.find(".short").removeClass("hide");
                events.find(".long").addClass("hide");
                events.removeClass("maximize");
            });

            var modal = $("#task-modal").modal({ show: false });
            $("button.btn-modal").click(function (evt) {
                evt.preventDefault();
                modal.modal("show");
            });

//             App.start();
        });
    </script>
    {% block morejs %}{% endblock %}
{% endblock %}
