{% extends "base_navbar.jinja2" %}

{% block extraheader %}
<!-- Tree CSS -->
<link href="{{request.application_url}}/static/css/fuelux.css" rel="stylesheet">
<link href="{{request.application_url}}/static/css/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
<link href="{{request.application_url}}/static/css/jquery.easy-pie-chart_custom.css" rel="stylesheet" media="screen">
<link href="{{request.application_url}}/static/css/chosen.min.css" rel="stylesheet">
<link href="{{request.application_url}}/static/css/select2.css" rel="stylesheet">
<link href="{{request.application_url}}/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="{{request.application_url}}/static/css/jquery.dataTables.css" rel="stylesheet">
<link href="{{request.application_url}}/static/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% block moreheader %}{% endblock %}
{% endblock %}

{% block inner_content %}
    <!-- left, vertical navbar -->
    <div id="sidebar" class="col-sm-3 bootstrap-admin-col-left fuelux">
        <div id="nav-tree" class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button id="tree-close-search-btn" class="btn btn-danger" type="button" style="visibility:none"><span class="fa fa-times"></span></button>
                    </span>
                    <input id="tree-search" type="text" class="form-control" placeholder="{{ gettext('Search') }}">
                    <span class="input-group-btn">
                        <button id="tree-search-btn" class="btn btn-primary" type="button"><span class="fa fa-search"></span></button>
                    </span>
                </div>
            </div>
            <div id="tree-container" {% if request.user and request.user.get('is_superuser') %}class="admin"{% endif %}>
                <div id="tree-selection-info" class="col-sm-3"></div>
                <div id="ex-tree" class="tree bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in"></div>
            </div>
        </div>

        <div id="events-container"></div>
    </div>

    <div class="col-sm-9 col-sm-offset-3">
        <div class="row">
            <div class="col-sm-9">
                <div id="breadcrumb" class="navbar navbar-default bootstrap-admin-navbar-thin"></div>
            </div>
            <div class="col-sm-3" id="commit-changes"></div>
        </div>
        <div id="alerts-area" class="row"></div>
        <div id="viewport-main" class="row">
            {% block main_content %}{% endblock %} <!-- TODO block to be deleted -->
        </div>
    </div>

    <div id="task-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Cambio 16 - Sede Central, política, cambio del tema de iconos</h4>
                </div>
                <div class="modal-body">
                    <p class="pull-right">Progreso: <span class="label label-danger">3 de 5</span></p>
                    <label>Equipos</label>
                    <ol>
                        <li>Portátil de Juan [juan-laptop]</li>
                        <li>Portátil de Roberto [bob-laptop]</li>
                        <li>Portátil de Anabel [anabel-laptop]</li>
                        <li>Sobremesa del Departamento de Cuentas [cuentas-desktop]</li>
                        <li>Portátil de Lola [lola-laptop]</li>
                    </ol>

                    <label>Logs</label>
                    <ul class="list-unstyled">
                        <li>09:12 Comenzado preparativos</li>
                        <li>09:12 Copiando fichero en almacenamiento compartido</li>
                        <li><span class="text-success">09:13 Terminados los preparativos</span></li>
                        <li>09:13 Comenzando a aplicar cambios</li>
                        <li><span class="text-success">09:14 Cambio aplicado en juan-laptop</span></li>
                        <li><span class="text-success">09:14 Cambio aplicado en bob-laptop</span></li>
                        <li>
                            <a href="#" class="expand-log"><span class="text-danger"><span class="fa fa-caret-right"></span> 09:14 Error al aplicar cambio en anabel-laptop</span></a>
                            <textarea class="hide form-control" rows="8" disabled>
[  102.713692] ACPI Error: Method parse/execution failed [\_SB_.PCI0.SBRG.EC0_.STBR] (Node ffff880139e936f0), AE_AML_BUFFER_LIMIT (20120913/psparse-536)
[  102.713704] ACPI Error: Method parse/execution failed [\_SB_.PCI0.VGA_.LCDD._BCM] (Node ffff880139e8ace0), AE_AML_BUFFER_LIMIT (20120913/psparse-536)
[  102.713716] ACPI Error: Evaluating _BCM failed (20120913/video-364)
[  102.715864] ACPI Exception: AE_AML_BUFFER_LIMIT, Index (0x0000000000000064) is beyond end of object (20120913/exoparg2-418)
[  102.715875] ACPI Error: Method parse/execution failed [\_SB_.PCI0.SBRG.EC0_.STBR] (Node ffff880139e936f0), AE_AML_BUFFER_LIMIT (20120913/psparse-536)
[  102.715886] ACPI Error: Method parse/execution failed [\_SB_.PCI0.VGA_.LCDD._BCM] (Node ffff880139e8ace0), AE_AML_BUFFER_LIMIT (20120913/psparse-536)
[  102.715898] ACPI Error: Evaluating _BCM failed (20120913/video-364)
[  102.717600] ACPI Exception: AE_AML_BUFFER_LIMIT, Index (0x0000000000000064) is beyond end of object (20120913/exoparg2-418)
[  102.717610] ACPI Error: Method parse/execution failed [\_SB_.PCI0.SBRG.EC0_.STBR] (Node ffff880139e936f0), AE_AML_BUFFER_LIMIT (20120913/psparse-536)
[  102.717621] ACPI Error: Method parse/execution failed [\_SB_.PCI0.VGA_.LCDD._BCM] (Node ffff880139e8ace0), AE_AML_BUFFER_LIMIT (20120913/psparse-536)
[  102.717633] ACPI Error: Evaluating _BCM failed (20120913/video-364)
[  102.894493] ACPI Exception: AE_AML_BUFFER_LIMIT, Index (0x0000000000000064) is beyond end of object (20120913/exoparg2-418)
[  102.894506] ACPI Error: Method parse/execution failed [\_SB_.PCI0.SBRG.EC0_.STBR] (Node ffff880139e936f0), AE_AML_BUFFER_LIMIT (20120913/psparse-536)
[  102.894517] ACPI Error: Method parse/execution failed [\_SB_.PCI0.VGA_.LCDD._BCM] (Node ffff880139e8ace0), AE_AML_BUFFER_LIMIT (20120913/psparse-536)
[  102.894529] ACPI Error: Evaluating _BCM failed (20120913/video-364)
                            </textarea>
                        </li>
                        <li>
                            <a href="#" class="expand-log"><span class="text-danger"><span class="fa fa-caret-right"></span> 09:14 Error: file does not exist</span></a>
                            <textarea class="hide form-control" rows="8" disabled>
[   17.318853] type=1400 audit(1385017506.642:2): apparmor="STATUS" operation="profile_load" name="/{usr/,}bin/ping" pid=566 comm="apparmor_parser"
[   17.336115] type=1400 audit(1385017506.660:3): apparmor="STATUS" operation="profile_load" name="/sbin/klogd" pid=575 comm="apparmor_parser"
[   17.345527] type=1400 audit(1385017506.669:4): apparmor="STATUS" operation="profile_load" name="/sbin/syslog-ng" pid=579 comm="apparmor_parser"
[   17.355109] type=1400 audit(1385017506.679:5): apparmor="STATUS" operation="profile_load" name="/sbin/syslogd" pid=583 comm="apparmor_parser"
[   17.369211] type=1400 audit(1385017506.693:6): apparmor="STATUS" operation="profile_load" name="/usr/lib/apache2/mpm-prefork/apache2" pid=588 comm="apparmor_parser"
[   17.369787] type=1400 audit(1385017506.693:7): apparmor="STATUS" operation="profile_load" name="/usr/lib/apache2/mpm-prefork/apache2//DEFAULT_URI" pid=588 comm="apparmor_parser"
[   17.370338] type=1400 audit(1385017506.694:8): apparmor="STATUS" operation="profile_load" name="/usr/lib/apache2/mpm-prefork/apache2//HANDLING_UNTRUSTED_INPUT" pid=588 comm="apparmor_parser"
[   17.370827] type=1400 audit(1385017506.694:9): apparmor="STATUS" operation="profile_load" name="/usr/lib/apache2/mpm-prefork/apache2//phpsysinfo" pid=588 comm="apparmor_parser"
[   17.380573] type=1400 audit(1385017506.704:10): apparmor="STATUS" operation="profile_load" name="/usr/lib/dovecot/deliver" pid=592 comm="apparmor_parser"
[   17.390493] type=1400 audit(1385017506.714:11): apparmor="STATUS" operation="profile_load" name="/usr/lib/dovecot/dovecot-auth" pid=596 comm="apparmor_parser"
                           </textarea>
                        </li>
                        <li>
                            <a href="#" class="expand-log"><span class="text-danger"><span class="fa fa-caret-right"></span> 09:14 Abortando</span></a>
                            <textarea class="hide form-control" rows="8" disabled>
[   32.575784] cgroup: libvirtd (837) created nested cgroup for controller "memory" which has incomplete hierarchy support. Nested cgroups may change behavior in the future.
[   32.575790] cgroup: "memory" requires setting use_hierarchy to 1 on the root.
                            </textarea>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="staging-modal-viewport"></div>
    <div id="staging-modal-changes"></div>

    <div id="maintenance-modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="MaintenanceModalLabel">{{ gettext('This action requires a little time') }}</h4>
          </div>
          <div class="modal-body">
              {{ gettext('Is the website maintenance?') }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ gettext('No') }}</button>
            <button type="button" class="btn btn-primary" id="set-maintenance">{{ gettext('Yes') }}</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        {% if websockets_enabled %}
            window.websocketsEnabled = {{ websockets_enabled }};
        {% else %}
            window.websocketsEnabled = null;
        {% endif %}
    </script>
    <script src="{{request.application_url}}/static/js/libs/backbone-1.1.2.min.js"></script>
    <script src="{{request.application_url}}/static/js/libs/backbone.paginator-0.8.1.min.js"></script>
    <script src="{{request.application_url}}/static/js/libs/backbone-marionette-1.7.3.min.js"></script>
    <script src="{{request.application_url}}/static/js/libs/TreeModel-0.4.0.min.js"></script>
    <script src="{{request.application_url}}/static/js/libs/jquery.easy-pie-chart-1.0.1.min.js"></script>
    <script src="{{request.application_url}}/static/js/libs/jquery.dataTables-1.9.4.min.js"></script>
    <script src="{{request.application_url}}/static/js/libs/DT_bootstrap.min.js"></script>
    <script src="{{request.application_url}}/static/js/libs/chosen.jquery-0.13.0.min.js"></script>
    <script src="{{request.application_url}}/static/js/libs/jsonform-b3-1.0.0.min.js"></script>
    <script src="{{request.application_url}}/static/js/libs/jjv.js"></script>
    <script src="{{request.application_url}}/static/js/libs/socket.io.min.js"></script>
    <script src="{{request.application_url}}/static/js/libs/select2.min.js"></script>
    <script src="{{request.application_url}}/static/js/libs/select2_locale_{{ request.locale_name }}.js"></script>
    <script src="{{request.application_url}}/static/js/sock.js"></script>

    <script src="{{request.application_url}}/static/js/app.js"></script>
    <script src="{{request.application_url}}/static/js/app-utils.js"></script>
    <!-- Policies have to loaded before the rest because some models inherit
    from them -->
    <script src="{{request.application_url}}/static/js/policies.js"></script>

    <script src="{{request.application_url}}/static/js/breadcrumb.js"></script>
    <script src="{{request.application_url}}/static/js/cache.js"></script>
    <script src="{{request.application_url}}/static/js/computer.js"></script>
    <script src="{{request.application_url}}/static/js/group.js"></script>
    <script src="{{request.application_url}}/static/js/group-form-views.js"></script>
    <script src="{{request.application_url}}/static/js/group-multiwidget-views.js"></script>
    <script src="{{request.application_url}}/static/js/ou.js"></script>
    <script src="{{request.application_url}}/static/js/policies-form-generator.js"></script>
    <script src="{{request.application_url}}/static/js/printer.js"></script>
    <script src="{{request.application_url}}/static/js/repository.js"></script>
    <script src="{{request.application_url}}/static/js/staging.js"></script>
    <script src="{{request.application_url}}/static/js/storage.js"></script>
    <script src="{{request.application_url}}/static/js/tree.js"></script>
    <script src="{{request.application_url}}/static/js/tree-views.js"></script>
    <script src="{{request.application_url}}/static/js/tree-views-extra.js"></script>
    <script src="{{request.application_url}}/static/js/tree-views-renderer.js"></script>
    <script src="{{request.application_url}}/static/js/user.js"></script>
    <script src="{{request.application_url}}/static/js/jobs.js"></script>

    <script type="text/html" id="alert-template">{% include "bb-alert.html" %}</script>
    <script type="text/html" id="change-alert-template">{% include "bb-change-alert.html" %}</script>
    <script type="text/html" id="breadcrumb-template">{% include "bb-breadcrumb.html" %}</script>
    <script type="text/html" id="computer-template">{% include "bb-computer.html" %}</script>
    <script type="text/html" id="jobs-template">{% include "bb-jobs.html" %}</script>
    <script type="text/html" id="groups-form-template">{% include "bb-groups-form.html" %}</script>
    <script type="text/html" id="groups-members-template">{% include "bb-groups-members.html" %}</script>
    <script type="text/html" id="groups-multi-widget-template">{% include "bb-groups-multi-widget.html" %}</script>
    <script type="text/html" id="groups-widget-template">{% include "bb-groups-widget.html" %}</script>
    <script type="text/html" id="home-template">{% include "bb-home.html" %}</script>
    <script type="text/html" id="new-element-template">{% include "bb-new-element.html" %}</script>
    <script type="text/html" id="ou-template">{% include "bb-ou.html" %}</script>
    <script type="text/html" id="policies-add-template">{% include "bb-policies-add.html" %}</script>
    <script type="text/html" id="policies-list-template">{% include "bb-policies-list.html" %}</script>
    <script type="text/html" id="policy-template">{% include "bb-policy.html" %}</script>
    <script type="text/html" id="printer-template">{% include "bb-printer.html" %}</script>
    <script type="text/html" id="repository-template">{% include "bb-repository.html" %}</script>
    <script type="text/html" id="staging-button-template">{% include "bb-staging-button.html" %}</script>
    <script type="text/html" id="staging-report-template">{% include "bb-staging-report.html" %}</script>
    <script type="text/html" id="storage-template">{% include "bb-storage.html" %}</script>
    <script type="text/html" id="tree-search-results-template">{% include "bb-tree-search.html" %}</script>
    <script type="text/html" id="tree-selection-template">{% include "bb-tree-selection.html" %}</script>
    <script type="text/html" id="user-template">{% include "bb-user.html" %}</script>

    <script type="text/html" id="loader-template">
        <p style='font-size: 3em;'>
            <span class='fa fa-spinner fa-spin'></span> {{ gettext('Loading') }}...
        </p>
    </script>

    <script>
        $(document).ready(function () {
            // Sidebar heights
            $('#sidebar').height($(window).height() - 131);
            $(window).on('resize', function () {
                // Recalculate sidebar height
                $('#sidebar').height($(window).height() - 131);
            });

            var events = $("#events");
            $("#maximize").click(function (evt) {
                evt.preventDefault();
                $("#maximize").addClass("hide");
                $("#minimize").removeClass("hide");
                $(document.body).append(events);
                events.find(".short").addClass("hide");
                events.find(".long").removeClass("hide");
                events.addClass("maximize");
            });
            $("#minimize").click(function (evt) {
                evt.preventDefault();
                $("#maximize").removeClass("hide");
                $("#minimize").addClass("hide");
                $("#sidebar").append(events);
                events.find(".short").removeClass("hide");
                events.find(".long").addClass("hide");
                events.removeClass("maximize");
            });

            var modal = $("#task-modal").modal({ show: false });
            $("button.btn-modal").click(function (evt) {
                evt.preventDefault();
                modal.modal("show");
            });

            $("#task-modal a.expand-log").click(function (evt) {
                evt.preventDefault();
                var $li = $(evt.target).parents("li"),
                    hidden = $li.find("textarea").is(".hide");

                $li.find("span.fa")
                    .removeClass(hidden ? "fa-caret-right" : "fa-caret-down")
                    .addClass(hidden ? "fa-caret-down" : "fa-caret-right");
                $li.find("textarea").toggleClass("hide");
            });

            App.language = "{{ request.locale_name }}";
            App.update_error_interval = {{ update_error_interval }};

            App.start();
        });
    </script>
    {% block morejs %}{% endblock %}
{% endblock %}
