{% extends "base.jinja2" %}

{% block extraheader %}
    {% block moreheader %}{% endblock %}
{% endblock %}

{% block content %}
<div class="row page">
    <!-- main / large navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="row">
            <div id="navbar-header" class="col-sm-3">
                <a href="{{ request.route_url('home') }}"><span class="navbar-logo pull-right"><img src="{{ request.application_url }}/static/images/gecos-logo-header.png"></span></a>
            </div>
            <div class="collapse navbar-collapse main-navbar-collapse">
                <a href="{{ request.route_url('home') }}"><span class="navbar-brand pull-left">{{ gettext('Control Center') }}</span></a>
                <ul class="nav navbar-nav pull-right">
                    <li class="{% block nav_bar_home %}active{% endblock %}">
                        <a href="{{ request.route_url('home') }}">{{ gettext('Home') }}</a>
                    </li>
                    <li>
                        <a href="{{ help_base_url }}" target="_blank">{{ gettext('Help') }}</a>
                    </li>

                    {% if (request.user.get('is_superuser') or
                           request.user.get('ou_managed', []) or
                           request.user.get('ou_readonly', [])
                       ):
                    %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown">{{ gettext('Administration') }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if request.user.get('is_superuser') %}
                            <li>
                                <a href="{{ request.route_url('admins') }}">{{ gettext('Administrators') }}</a>
                            </li>
                            <li>
                                <a href="{{ request.route_url('settings') }}">{{ gettext('Settings') }}</a>
                            <li class="{% block nav_bar_status %}{% endblock %}">
                                <a href="{{ request.route_url('server_status') }}">{{ gettext('Status') }}</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="{{ request.route_url('reports') }}">{{ gettext('Reports') }}</a>
                            </li>
                            <li>
                                <a href="{{ request.route_url('statistics', username=request.user['username']) }}">
                                    <span class="fa fa-area-chart"></span> {{ gettext('Statistics') }}
                                </a>
                            </li>
                            {% if request.user.get('is_superuser') %}
                            <li>
                                <a href="{{ request.route_url('updates') }}">
                                    <span class="fa fa-spinner"></span> {{ gettext('Updates') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ request.route_url('admin_maintenance', username=request.user['username']) }}">
                                    <span class="fa fa-wrench"></span> {{ gettext('Maintenance Mode') }}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>

                    {% endif %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown">{{ request.user['username'] }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ request.route_url('admins_edit', username=request.user['username']) }}">
                                    <span class="fa fa-user"></span> {{ gettext('Edit profile') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ request.route_url('admins_set_variables', username=request.user['username']) }}">
                                    <span class="fa fa-wrench"></span> {{ gettext('Set variables') }}
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li>
                                <a href="{{ request.route_url('logout') }}">
                                    <span class="fa fa-sign-out"></span> {{ gettext('Log out') }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    {% if 'messages' in request.session%}
        {% for index in range(request.session.messages|count) %}
            {% set msg_type, msg = request.session.messages.pop() %}
            <div class="alert alert-{{ msg_type }}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ msg|safe }}
            </div>
        {% endfor %}
    {% endif %}
    {% if 'maintenance_message' in request.session%}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ request.session['maintenance_message']|safe }}
            </div>
    {% endif %}
    {% block inner_content %}{% endblock %}
</div>
{% endblock %}

{% block extrajs %}
    {% block morejs %}{% endblock %}
{% endblock %}
