<!DOCTYPE html>
<html class="{% block htmlclass %}{% endblock %}">
    <head>
        <title>{{ gettext('Control Center') }} - GECOS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap and deform -->
        <link rel="stylesheet"
              href="{{request.static_url('deform:static/css/bootstrap.min.css')}}"
              type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet"
              href="{{request.static_url('deform:static/css/form.css')}}"
              type="text/css"/>        
        
        <link href="{{ request.application_url }}/static/css/font-awesome.min.css" rel="stylesheet">

        <!-- Bootstrap Admin Theme -->
        <link href="{{ request.application_url }}/static/css/bootstrap-admin-theme.css" rel="stylesheet" media="screen">
        <link href="{{ request.application_url }}/static/css/scp-gecos.css" rel="stylesheet" media="screen">
        <link href="{{ request.application_url }}/static/images/fav.ico" rel="shortcut icon" />
        <link href="{{ request.application_url }}/static/css/bootstrap-switch.min.css" rel="stylesheet" media="screen" />


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
           <script type="text/javascript" async src="{{ request.application_url }}/static/js/libs/html5shiv-3.6.2.min.js"></script>
           <script type="text/javascript" async src="{{ request.application_url }}/static/js/libs/respond-1.1.0.min.js"></script>
        <![endif]-->

        <!-- jquery, bootstrap and deform -->
        <script src="{{request.static_url('deform:static/scripts/jquery-2.0.3.min.js')}}"
                type="text/javascript"></script>
        <script src="{{request.static_url('deform:static/scripts/bootstrap.min.js')}}"
                type="text/javascript"></script>
        <script src="{{request.static_url('deform:static/scripts/deform.js')}}"
                type="text/javascript"></script>

        <script src="{{ request.application_url }}/static/js/forbidden.js"></script>                                                                                                

        {% block extraheader %}{% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% block content %}{% endblock %}

        <div id="confirm-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{ gettext('Are you sure?') }}</h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button id="confirm-modal-no" type="button" class="btn btn-default" data-dismiss="modal">{{ gettext('Cancel') }}</button>
                        <button id="confirm-modal-yes" type="button" class="btn btn-danger">{{ gettext('Yes, continue') }}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="socket-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header alert alert-danger">
                        <h4 class="modal-title">{{ gettext('Connection problems') }}</h4>
                    </div>
                    <div class="modal-body"><p>{{ gettext('There are problems to connect with the server, please reload page.') }}</p><p id="socket-modal-reason"></p></div>
                    <div class="modal-footer">
                        <button type="button" onclick="javascript:window.location.reload()" class="btn btn-default" data-dismiss="modal">{{ gettext('Reload page') }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="redis-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header alert alert-danger">
                        <h4 class="modal-title">{{ gettext('Connection problems') }}</h4>
                    </div>
                    <div class="modal-body"><p>{{ gettext('Redis server is stopped, please contact an administrator.') }}</p></div>
                </div>
            </div>
        </div>

        <div id="forbidden-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header alert alert-danger">
                        <h4 class="modal-title">{{ gettext('Forbidden access') }}</h4>
                    </div>
                    <div class="modal-body"><p>{{ gettext('Probably the user session has expired due to inactivity.') }}</p></div>
                    <div class="modal-footer">
                        <button type="button" onclick="javascript:window.location.reload()" class="btn btn-default" data-dismiss="modal">{{ gettext('Reload page') }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="log_viewer" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>                        
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>


        <footer>
            <span class="pull-right" data-toggle="tooltip" data-placement="top" title="{{ request.registry.settings.get('server_address', 'UNKNOWN') }}">{{ "HOSTNAME" | env_override('HOSTNAME') }}</span> 
            <a href="http://www.github.com/gecos-team/gecoscc-ui/tree/{{ request.VERSION }}" target="_blank">GECOS CC (v{{ request.VERSION }}) &copy; 2013</a></span>
        </footer>

        <script src="{{request.application_url}}/static/js/libs/underscore-1.6.0.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ request.route_url('i18n_catalog') }}"></script>
        <script src="{{ request.application_url }}/static/js/i18n.js"></script>
        <script async src="{{ request.application_url }}/static/js/libs/twitter-bootstrap-hover-dropdown.min.js"></script>
        <script src="{{ request.application_url }}/static/js/libs/fuelux.min.js"></script>
        <script src="{{ request.application_url }}/static/js/libs/js.cookie.js"></script>
        <script src="{{ request.application_url }}/static/js/libs/bootstrap-switch.min.js"></script>

        <script>
        
            function loadLogViewer(url, filename) {
                $("#log_viewer .modal-title").html(filename);
                $("#log_viewer .modal-body").html('<iframe width="100%" height="100%" frameborder="0" scrolling="yes" allowtransparency="false" src="'+url+'"></iframe>');
            }        

            function deleteLogCallback(url, confirmation) {
                if (confirmation) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function(result) {
                            // Log deleted, refresh the view
                            App.main.currentView.refresh();
                        },
                        statusCode: {
                            403: function() {
                              forbidden_access();
                            }
                        }                        
                    });
                }
            }


            function deleteLog(url, filename) {
                $("#confirm-modal-yes").on("click", function(){
                    deleteLogCallback(url, true);
                    $("#confirm-modal").modal('hide');
                });
                $("#confirm-modal-no").on("click", function(){
                    deleteLogCallback(url, false);
                    $("#confirm-modal").modal('hide');
                });
                
                $("#confirm-modal .modal-body").html(gettext("Delete")+": "+filename);
                
                $("#confirm-modal").modal('show');
            
            }        

        
        
        
        
            $(document).ready(function () {
                var confirmModal = $("#confirm-modal").modal({ show: false });
                window.GecosUtils = {
                    askConfirmation: function (options) {
                        var dfd = jQuery.Deferred();
                        if (!_.has(options, "callback")) { return; }
                        confirmModal.find("button.btn-danger")
                            .off("click")
                            .on("click", function () {
                                options.callback();
                                confirmModal.modal("hide");
                                dfd.resolve(true);
                            });
                        confirmModal.find("button.btn-default")
                            .off("click")
                            .on("click", function () {
                                confirmModal.modal("hide");
                                dfd.resolve(false);
                            });
                        if (_.has(options, "message")) {
                            confirmModal.find(".modal-body").html(
                                "<p>" + options.message + "</p>");
                        } else {
                            confirmModal.find(".modal-body").html("");
                        }
                        confirmModal.modal("show");
                        return dfd.promise();
                    },
                    {% if request.user %}
                        gecosUser: {{ request.user|admin_jsonify|safe }}
                    {% else %}
                        gecosUser: null
                    {% endif %}
                };
            });
            {% if request.user and request.user.get('is_superuser') %}
            var emptyTree =
                '<a href="#newroot">\n' +
                '    <span class="fa fa-plus"></span> ' + '{{ gettext('Add new root OU') }}' + '\n' +
                '</a>\n';
            {% else %}
            var emptyTree = "";
            {% endif %}
            
            {% if request.user and 'variables' in request.user %}
            var username = "{{ request.user['username'] }}";
            var nav_tree_pagesize = {{ request.user['variables'].get('nav_tree_pagesize', 10) }}
            var policies_pagesize = {{ request.user['variables'].get('policies_pagesize', 8) }}
            var jobs_pagesize = {{ request.user['variables'].get('jobs_pagesize', 30) }}
            var group_nodes_pagesize = {{ request.user['variables'].get('group_nodes_pagesize', 10) }}
            {% else %}
            var username = false;
            var nav_tree_pagesize = 10;
            var policies_pagesize = 8;
            var jobs_pagesize = 30;
            var group_nodes_pagesize = 10;

            {% endif %}
            
        </script>
        {% block extrajs %}{% endblock %}
    </body>
</html>
