{% extends "base.jinja2" %}

{% block extraheader %}
<!-- Tree CSS -->
<link href="{{request.application_url}}/static/css/fuelux.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row page">
    <!-- left, vertical navbar -->
    <div id="sidebar" class="col-sm-3 bootstrap-admin-col-left fuelux">
        <div id="nav-tree" class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><span class="fa fa-search"></span></button>
                    </span>
                </div>
            </div>
            <!-- tree -->
            <div id="ex-tree" class="tree bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
                <div class="tree-folder" style="display:none;">
                    <div class="tree-folder-header">
                        <span class="fa fa-folder"></span>
                        <div class="tree-folder-name"></div>
                    </div>
                    <div class="tree-folder-content"></div>
                    <div class="tree-loader" style="display:none"></div>
                </div>
                <div class="tree-item" style="display:none;">
                    <span class="fa fa-user"></span>
                    <div class="tree-item-name"></div>
                </div>
            </div><!-- /.tree -->
        </div>

        <div id="events" class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Cola y Eventos</div>
            </div>
            <div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
                <!-- TODO -->
            </div>
        </div>
    </div>

    <div id="viewport-main" class="col-sm-9 col-sm-offset-3">
    {% block main_content %}{% endblock %}
    </div>
{% endblock %}

{% block extrajs %}
    <script src="{{request.application_url}}/static/js/datasourceTree.js"></script>
    <script src="{{request.application_url}}/static/js/tree.js"></script>

    <script>
        $(function() {
            // Sidebar heights
            $('#sidebar').height($(window).height() - 131);
            $(window).on('resize', function () {
                // Recalculate sidebar height
                $('#sidebar').height($(window).height() - 131);
            });

            // Navigation tree
            var dataSourceTree = new DataSourceTree({
                data: [
                    { name: 'Test Folder 1', type: 'folder', additionalParameters: { id: 'F1' } },
                    { name: 'Test Folder 2', type: 'folder', additionalParameters: { id: 'F2' } },
                    { name: 'Test Item 1', type: 'item', additionalParameters: { id: 'I1' } },
                    { name: 'Test Item 2', type: 'item', additionalParameters: { id: 'I2' } }
                ],
                delay: 400
            });

            $('#ex-tree').tree({
                dataSource: dataSourceTree,
                loadingHTML: '<div class="static-loader">Loading...</div>',
                multiSelect: true,
                cacheItems: true
            });
        });
    </script>
{% endblock %}
