<% if (typeof(regularText) === "object") { %>
    <% _.each(regularText, function (error) { %>
        <div class="alert alert-<%= cssClass %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong><%= strongText %></strong> <%= error %>
        </div>
    <% }) %>
<% } else { %>
    <div class="alert alert-<%= cssClass %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong><%= strongText %></strong> <%= regularText %>
    </div>
<% } %>
