<div id="<% if (typeof id !== 'undefined') { print('resource_' + id); } %>">
    <ul class="nav nav-tabs">
        <li class="active" id="info-tab"><a href="#info" data-toggle="tab">{{ gettext('Information') }}</a></li>
        <li><a href="#ohai" data-toggle="tab">{{ gettext('Workstation specifications') }}</a></li>
        <li id="policy-tab"><a href="#policies" data-toggle="tab">{{ gettext('Policies') }}</a></li>
    </ul>

    <div class="tab-content" id="computers">
        <div class="tab-pane fade in active" id="info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">{{ gettext('Workstation') }}</div>
                    <button class="btn btn-default btn-xs pull-right refresh" title="{{ gettext('Reload') }}">
                        <span class="fa fa-refresh"></span>
                    </button>
                </div>
                <div class="bootstrap-admin-panel-content dashboard" id="computer-basic-info">
                    <form role="form">
                        <div class="row"><div class="col-sm-12">
                            <div class="well well-sm">
                                <div class="row computer-info">
                                    <div class="col-sm-2 info-icon">
                                        <span class="fa fa-<%= icon %> <%= iconClass %>"></span>
                                    </div>
                                    <div class="col-sm-5">
                                        <dl>
                                            <dt>{{ gettext('Manufacturer and model') }}</dt>
                                            <dd><%= manufacturer %> <%= product_name %></dd>
                                            <dt>{{ gettext('IP address') }}</dt>
                                            <dd><%= ipaddress %></dd>
                                            <dt>{{ gettext('Users that have logged in') }}</dt>
                                            <dd><% if (users) { %><%= users %><% } else { %>{{ gettext('None')}}<% } %></dd>
                                        </dl>
                                    </div>
                                    <div class="col-sm-5">
                                        <dl>
                                            <dt>{{ gettext('Gecos cc id') }}</dt>
                                            <dd><%= _id %></dd>
                                            <dt>{{ gettext('Uptime') }}</dt>
                                            <dd><%= uptime %></dd>
                                            <dt>{{ gettext('Last connection') }}</dt>
                                            <dd class="label connection-label <%= labelClass %>"><%= last_connection %></dd>
                                            <% if (!gcc_link) { %>
                                            <i style="color: #f0ad4e; font-size: 22px; top:6px"
                                               class="glyphicon glyphicon-warning-sign"
                                               data-toggle="tooltip"
                                               title="{{ gettext('Former network connection restored because current one does not work properly') }}"></i>
                                            <% } %>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div></div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="name">{{ gettext('Name') }}</label>
                                    <input id="name" type="text" class="form-control" placeholder="{{ gettext('e.g.') }} {{ gettext('John\'s laptop') }}" required value="<%= name %>">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="family">{{ gettext('Type') }}</label>
                                    <select id="family" class="form-control">
                                        <option value="desktop" <% if (family === "desktop") { print("selected"); } %>>{{ gettext('Desktop') }}</option>
                                        <option value="laptop" <% if (family === "laptop") { print("selected"); } %>>{{ gettext('Laptop') }}</option>
                                        <option value="netbook" <% if (family === "netbook") { print("selected"); } %>>{{ gettext('Netbook') }}</option>
                                        <option value="tablet" <% if (family === "tablet") { print("selected"); } %>>{{ gettext('Tablet') }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="registry">{{ gettext('Registry number') }}</label>
                                    <input id="registry" type="text" class="form-control" placeholder="{{ gettext('e.g.') }} JDA123DEP03" value="<%= registry %>">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="serial">{{ gettext('Serial number') }}</label>
                                    <input id="serial" type="text" class="form-control" placeholder="{{ gettext('e.g.') }} HP123QWERTY456" value="<%= serial %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
							<div class="col-md-12 col-xs-12">
								<div class="form-group">
									<label for="commentaries">{{ gettext('Commentaries') }}</label>
									<textarea class="form-control" id="commentaries" name="commentaries" rows="3" placeholder="{{ gettext('Describe the workstation here...') }}"><%= commentaries %></textarea>
								</div>
							</div>
                        </div>
                        <div class="bootstrap-admin-light-padding-bottom">
                            <% if (typeof id !== 'undefined') { %>
                            <div id="groups-widget">
                                <p style="font-size: 1.5em;">
                                    <span class="fa fa-spin fa-spinner"></span> {{ gettext('Loading') }}...
                                </p>
                            </div>
                            <%} else { %>
                            <div id="no-groups">
                                <label>{{ gettext('Groups') }}</label>
                                <p>
                                    {{ gettext('If you want to add any group, please execute the changes') }}
                                </p>
                            </div>
                            <% } %>
                        </div>
                        <% if (isEditable) { %>
                        <div class="row"><div class="col-sm-12">
                            <a href="#" class="btn btn-default">{{ gettext('Cancel') }}</a>
                            <button id="submit" type="submit" class="btn btn-primary">{{ gettext('Save') }}</button>
                            <% if (typeof id !== "undefined") { %>
                                <button id="delete" class="pull-right btn btn-danger">{{ gettext('Delete') }}</button>
                                <button id="cut" class="pull-right btn btn-warning">{{ gettext('Cut') }}</button>
                            <% } %>
                        </div></div>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="ohai">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">{{ gettext('Workstation specifications (Ohai)') }}</div>
                </div>
                <div class="bootstrap-admin-panel-content dashboard">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6"><div class="form-group">
                                <label>{{ gettext('Node chef id') }}</label>
                                <p class="form-control-static">
									<% if (typeof(node_chef_id) !== "undefined" && node_chef_id !== "") { %> <%= node_chef_id %> <% } else { %>-<% } %>
								</p>
                            </div></div>
                            <div class="col-xs-12 col-sm-6"><div class="form-group">
                            </div></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6"><div class="form-group">
                                <label>{{ gettext('CPU') }}</label>
                                <p class="form-control-static"><%= cpu %></p>
                            </div></div>
                            <div class="col-xs-12 col-sm-6"><div class="form-group">
                                <label>{{ gettext('RAM') }}</label>
                                <p class="form-control-static"><%= ram %></p>
                            </div></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6"><div class="form-group">
                                <label>{{ gettext('Distribution') }}</label>
                                <p class="form-control-static"><%= lsb.description %></p>
                            </div></div>
                            <div class="col-xs-12 col-sm-6"><div class="form-group">
                                <label>{{ gettext('Kernel') }}</label>
                                <p class="form-control-static"><%= kernel.release %> <%= kernel.version %></p>
                            </div></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <label>{{ gettext('File system') }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-3"><label>{{ gettext('Device') }}</label></div>
                            <div class="col-xs-12 col-sm-3"><label>{{ gettext('Type') }}</label></div>
                            <div class="col-xs-12 col-sm-3"><label>{{ gettext('Mount point') }}</label></div>
                            <div class="col-xs-12 col-sm-3"><label>{{ gettext('Used') }}</label></div>
                        </div>
                        <% for (key in filesystem) {
                           if (filesystem.hasOwnProperty(key)) { %>
                        <div class="row">
                           <div class="col-xs-12 col-sm-3"><%= key %></div>
                           <div class="col-xs-12 col-sm-3"><% if (filesystem[key].fs_type) { %><%= filesystem[key].fs_type %><% } else { %>&nbsp;<% } %></div>
                           <div class="col-xs-12 col-sm-3"><% if (filesystem[key].mount) { %><%= filesystem[key].mount %><% } else { %>&nbsp;<% } %></div>
                           <div class="col-xs-12 col-sm-3"><% if (filesystem[key].percent_used) { %><%= filesystem[key].percent_used %><% } else { %>&nbsp;<% } %></div>
                        </div>
                        <% }} %>
                    </form>
                    <div class="row"><div class="form-group"></div></div>
                    <div class="row"><div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a id="ohai-json" data-toggle="collapse" href="#collapseOne">
                                        <span class="fa fa-caret-right"></span> {{ gettext('Data retrieved from workstation') }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <pre><%= JSON.stringify(ohai, null, 4) %></pre>
                                </div>
                            </div>
                        </div>
                    </div></div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade in" id="policies">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">{{ gettext('Policies list') }}</div>
                </div>
                <div class="bootstrap-admin-panel-content"></div>
            </div>
        </div>
    </div>
</div>
