<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert alert-danger">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{ gettext('The following nodes have changed:') }}</h4>
      </div>
      <div class="modal-body">
        <ul class="nodes-changed list-unstyled">
          <% _.each(nodes, function (node) { %>
            <li>
              <% if (node.action === 'change') { %>
                <span class="label label-primary"> {{ gettext('Modified by') }} <%= ' ' + node.user %> </span>
              <% } else { %>
                <span class="label label-danger"> {{ gettext('Deleted by') }} <%= ' ' + node.user %> </span>
              <% } %>
              <a href="/#byid/<%= node.id %>"> <%= node.nodeName %> </a>
            </li>
          <% }) %>
        </ul>
        <p>{{ gettext('Other administrators have modified these nodes, your saved changes are lost. Please make your changes again.') }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ gettext('Close') }}</button>
      </div>
    </div>
  </div>
</div>
