<div id="<% if (typeof id !== 'undefined') { print('resource_' + id); } %>">
    <ul class="nav nav-tabs">
        <li class="active" id="info-tab"><a href="#info" data-toggle="tab">{{ gettext('Information') }}</a></li>
        <li id="ohai-tab"><a href="#ohai" data-toggle="tab">{{ gettext('Workstation specifications') }}</a></li>
        <li id="policy-tab"><a href="#policies" data-toggle="tab">{{ gettext('Policies') }}</a></li>
        <li id="inheritance-tab"><a href="#inheritance" data-toggle="tab">{{ gettext('Inheritance') }}</a></li>
        <li id="logs-tab"><a href="#logs" data-toggle="tab">{{ gettext('Logs') }}</a></li>
        <li id="helpchannel-tab"><a href="#helpchannel" data-toggle="tab">{{ gettext('Remote Control') }}</a></li>
        
    </ul>

    <div class="tab-content" id="computers">
        <div class="tab-pane fade in active" id="info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">{{ gettext('Workstation') }}</div>
                    <button class="btn btn-default btn-xs pull-right refresh" title="{{ gettext('Reload') }}">
                        <span class="fa fa-refresh"></span>
                    </button>
                </div>
                <div class="bootstrap-admin-panel-content dashboard" id="computer-basic-info">
                    <form role="form">
                        <div class="row"><div class="col-sm-12">
                            <div class="well well-sm">
                                <div class="row computer-info">
                                    <div class="col-sm-2 info-icon">
                                        <span class="fa fa-<%= icon %> <%= iconClass %>"></span>
                                    </div>
                                    <div class="col-sm-5">
                                        <dl>
                                            <dt>{{ gettext('Manufacturer and model') }}</dt>
                                            <dd><%= manufacturer %> <%= product_name %></dd>
                                            <dt>{{ gettext('IP address') }}</dt>
                                            <dd><%= ipaddress %></dd>
                                            <dt>{{ gettext('Users that have logged in') }}</dt>
                                            <dd><% if (users) { %>
                                                    <% users.forEach(function (user) { %>
                                                        <a href="#ou/<%= _.last(user.path.split(',')) %>/user/<%= user._id %>"><%= user.name %></a> 
                                                    <% }) %>
                                                <% } else { %>
                                                    {{ gettext('None')}}
                                                <% } %>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="col-sm-5">
                                        <dl>
                                            <dt>{{ gettext('Gecos cc id') }}</dt>
                                            <dd><%= _id %></dd>
                                            <dt>{{ gettext('Uptime') }}</dt>
                                            <dd><%= uptime %></dd>
                                            <dt>{{ gettext('Last connection') }}</dt>
                                            <dd class="label connection-label <%= labelClass %>"><%= last_connection %></dd>
                                            <% if (!gcc_link) { %>
                                            <i style="color: #f0ad4e; font-size: 22px; top:6px"
                                               class="glyphicon glyphicon-warning-sign"
                                               data-toggle="tooltip"
                                               title="{{ gettext('Former network connection restored because current one does not work properly') }}"></i>
                                            <% } %>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div></div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="name">{{ gettext('Name') }}</label>
                                    <input id="name" type="text" class="form-control" placeholder="{{ gettext('e.g.') }} {{ gettext('John\'s laptop') }}" required value="<%= name %>">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="family">{{ gettext('Type') }}</label>
                                    <select id="family" class="form-control">
                                        <option value="desktop" <% if (family === "desktop") { print("selected"); } %>>{{ gettext('Desktop') }}</option>
                                        <option value="laptop" <% if (family === "laptop") { print("selected"); } %>>{{ gettext('Laptop') }}</option>
                                        <option value="netbook" <% if (family === "netbook") { print("selected"); } %>>{{ gettext('Netbook') }}</option>
                                        <option value="tablet" <% if (family === "tablet") { print("selected"); } %>>{{ gettext('Tablet') }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="registry">{{ gettext('Registry number') }}</label>
                                    <input id="registry" type="text" class="form-control" placeholder="{{ gettext('e.g.') }} JDA123DEP03" value="<%= registry %>">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="serial">{{ gettext('Serial number') }}</label>
                                    <input id="serial" type="text" class="form-control" placeholder="{{ gettext('e.g.') }} HP123QWERTY456" value="<%= serial %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
							<div class="col-md-12 col-xs-12">
								<div class="form-group">
									<label for="commentaries">{{ gettext('Commentaries') }}</label>
									<textarea class="form-control" id="commentaries" name="commentaries" rows="3" placeholder="{{ gettext('Describe the workstation here...') }}"><%= commentaries %></textarea>
								</div>
							</div>
                        </div>
                        <div class="bootstrap-admin-light-padding-bottom">
                            <% if (typeof id !== 'undefined') { %>
                            <div id="groups-widget">
                                <p style="font-size: 1.5em;">
                                    <span class="fa fa-spin fa-spinner"></span> {{ gettext('Loading') }}...
                                </p>
                            </div>
                            <%} else { %>
                            <div id="no-groups">
                                <label>{{ gettext('Groups') }}</label>
                                <p>
                                    {{ gettext('If you want to add any group, please execute the changes') }}
                                </p>
                            </div>
                            <% } %>
                        </div>
                        <% if (isEditable) { %>
                        <div class="row"><div class="col-sm-12">
                            <a href="#" class="btn btn-default">{{ gettext('Cancel') }}</a>
                            <button id="submit" type="submit" class="btn btn-primary">{{ gettext('Save') }}</button>
                            <% if (typeof id !== "undefined") { %>
                                <button id="delete" class="pull-right btn btn-danger">{{ gettext('Delete') }}</button>
                                <button id="cut" class="pull-right btn btn-warning">{{ gettext('Cut') }}</button>
                            <% } %>
                        </div></div>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="ohai">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">{{ gettext('Workstation specifications (Ohai)') }}</div>
                    <button class="btn btn-default btn-xs pull-right refresh" title="{{ gettext('Reload') }}">
                        <span class="fa fa-refresh"></span>
                    </button>
                </div>
                <div class="bootstrap-admin-panel-content dashboard">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6"><div class="form-group">
                                <label>{{ gettext('Node chef id') }}</label>
                                <p class="form-control-static">
									<% if (typeof(node_chef_id) !== "undefined" && node_chef_id !== "") { %> <%= node_chef_id %> <% } else { %>-<% } %>
								</p>
                            </div></div>
                            <div class="col-xs-12 col-sm-6"><div class="form-group">
                            </div></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6"><div class="form-group">
                                <label>{{ gettext('CPU') }}</label>
                                <p class="form-control-static"><%= cpu %></p>
                            </div></div>
                            <div class="col-xs-12 col-sm-6"><div class="form-group">
                                <label>{{ gettext('RAM') }}</label>
                                <p class="form-control-static"><%= ram %></p>
                            </div></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6"><div class="form-group">
                                <label>{{ gettext('Distribution') }}</label>
                                <p class="form-control-static"><%= lsb.description %></p>
                            </div></div>
                            <div class="col-xs-12 col-sm-6"><div class="form-group">
                                <label>{{ gettext('Kernel') }}</label>
                                <p class="form-control-static"><%= kernel.release %> <%= kernel.version %></p>
                            </div></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <label>{{ gettext('File system') }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-3"><label>{{ gettext('Device') }}</label></div>
                            <div class="col-xs-12 col-sm-3"><label>{{ gettext('Type') }}</label></div>
                            <div class="col-xs-12 col-sm-3"><label>{{ gettext('Mount point') }}</label></div>
                            <div class="col-xs-12 col-sm-3"><label>{{ gettext('Used') }}</label></div>
                        </div>
                        <% for (key in filesystem) {
                           if (filesystem.hasOwnProperty(key)) { %>
                        <div class="row">
                           <div class="col-xs-12 col-sm-3"><%= key %></div>
                           <div class="col-xs-12 col-sm-3"><% if (filesystem[key].fs_type) { %><%= filesystem[key].fs_type %><% } else { %>&nbsp;<% } %></div>
                           <div class="col-xs-12 col-sm-3"><% if (filesystem[key].mount) { %><%= filesystem[key].mount %><% } else { %>&nbsp;<% } %></div>
                           <div class="col-xs-12 col-sm-3"><% if (filesystem[key].percent_used) { %><%= filesystem[key].percent_used %><% } else { %>&nbsp;<% } %></div>
                        </div>
                        <% }} %>
                    </form>
                    <div class="row"><div class="form-group"></div></div>
                    <div class="row"><div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a id="ohai-json" data-toggle="collapse" href="#collapseOne">
                                        <span class="fa fa-caret-right"></span> {{ gettext('Data retrieved from workstation') }}
                                    </a>
                                </h4>
                            </div>
                            
                          
                            
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body fuelux">
                                    <div id="ohai_tree_header" class="row">
                                        <div class="col-sm-6">
                                            <div class="btn-group">
                                                <button id="ohai_tree-expand" class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="{{ gettext('Expand all') }}">
                                                <div class="normal">
                                                    <svg 
                                                        version="1.1" id="expand" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                        width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M0,2.25v6.5C0,9.99,1.01,11,2.25,11h6.5C9.99,11,11,9.99,11,8.75
                                                            v-6.5C11,1.01,9.99,0,8.75,0h-6.5C1.01,0,0,1.01,0,2.25z M1,2.84C1,1.82,1.82,1,2.84,1h5.32C9.18,1,10,1.82,10,2.84v5.32
                                                            C10,9.18,9.18,10,8.16,10H2.84C1.82,10,1,9.18,1,8.16V2.84z"/>
                                                        <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" points="5,2 5,5 2,5 2,6 5,6 5,9 6,9 6,6 9,6 9,5 6,5 6,2 "/>
                                                        <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" points="4,13 4,18 2,18 5.5,22 9,18 7,18 7,13 "/>
                                                        <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" points="18,2 18,4 13,4 13,7 18,7 18,9 22,5.5 "/>
                                                    </svg>
                                                </div>
                                                <div class="loading">
                                                    <i class="fa fa-circle-o-notch fa-spin"></i>
                                                </div>
                                                </button>
                                                <button id="ohai_tree-compress" class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="{{ gettext('Collapse all') }}">
                                                <div class="normal">
                                                    <svg 
                                                        version="1.1" id="compress" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                        width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M0,2.25v6.5C0,9.99,1.01,11,2.25,11h6.5C9.99,11,11,9.99,11,8.75
                                                            v-6.5C11,1.01,9.99,0,8.75,0h-6.5C1.01,0,0,1.01,0,2.25z M1,2.84C1,1.82,1.82,1,2.84,1h5.32C9.18,1,10,1.82,10,2.84v5.32
                                                            C10,9.18,9.18,10,8.16,10H2.84C1.82,10,1,9.18,1,8.16V2.84z"/>
                                                        <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" points="4,17 4,22 7,22 7,17 9,17 5.5,13 2,17 "/>
                                                        <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" points="17,2 13,5.5 17,9 17,7 22,7 22,4 17,4 "/>
                                                        <rect x="2" y="5" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="7" height="1"/>
                                                    </svg>
                                                </div>
                                                <div class="loading">
                                                    <i class="fa fa-circle-o-notch fa-spin"></i>
                                                </div>                                                
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button id="ohai_tree-close-search-btn" class="btn btn-danger" type="button" style="display: none;"><span class="fa fa-times"></span></button>
                                                </span>                                            
                                                <input id="ohai_tree-search" class="form-control" placeholder="Buscar" type="text">
                                                <span class="input-group-btn">
                                                    <button id="ohai_tree-previous-search-btn" class="btn" type="button" style="display: none;"><span class="glyphicon glyphicon-chevron-up"></span></button>
                                                    <button id="ohai_tree-next-search-btn" class="btn" type="button" style="display: none;"><span class="glyphicon glyphicon-chevron-down"></span></button>
                                                    <button id="ohai_tree-search-btn" class="btn btn-primary" type="button"><span class="fa fa-search"></span></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="tree" role="tree" id="ohai_tree">
                                        <li class="tree-branch hide" data-template="treebranch" role="treeitem" aria-expanded="false">
                                          <div class="tree-branch-header">
                                            <button class="icon-caret fa tree-fa"><span class="sr-only">Open</span></button>
                                            <button type="button" class="tree-branch-name">
                                              <span class="tree-label"></span>
                                              <span class="glyphicon icon-folder glyphicon-folder-close"></span>
                                            </button>
                                          </div>
                                          <ul class="tree-branch-children" role="group"></ul>
                                          <div class="tree-loader" role="alert">Loading...</div>
                                        </li>
                                        <li class="tree-item hide" data-template="treeitem" role="treeitem">
                                          <button type="button" class="tree-item-name">
                                            <span class="glyphicon icon-item fueluxicon-bullet"></span>
                                            <span class="tree-label"></span>
                                          </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div></div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade in" id="policies">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">{{ gettext('Policies list') }}</div>
                </div>
                <div class="bootstrap-admin-panel-content"></div>
            </div>
        </div>
        
        <div class="tab-pane fade in" id="inheritance">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">{{ gettext('Inheritance list') }}</div>
                    <button class="btn btn-default btn-xs pull-right refresh" title="{{ gettext('Reload') }}">
                        <span class="fa fa-refresh"></span>
                    </button>
                </div>
                
                <div class="bootstrap-admin-panel-content"></div>

                <% if (users_inheritance && users_inheritance.length > 0) { %>
                <div class="bootstrap-admin-panel-content">
                    <div class="row"><div class="col-sm-12"><strong>{{ gettext('User policies') }}</strong></div></div>
                    <div class="object_related_list">
                        <table class="table table-bordered">
                        <% users_inheritance.forEach(function (user, index) { %>
                            <% if ( (index%4) == 0) { %>
                                <tr>
                            <% } %>

                                    <td>
                                        <a style="white-space: nowrap;" href="#ou/<%= _.last(user.path.split(',')) %>/user/<%= user._id %>/inheritance"><span class="fa fa-user"></span>&nbsp;<%= user.name %></a> 
                                    </td>
                                    
                            <% if ( (index%4) == 3) { %>
                                </tr>
                            <% } %>
                                    
                        <% }) %>
                        </table>
                    </div>    
                </div>
                <% } %>

            </div>
        </div>
        
        
        
        
        <div class="tab-pane fade in" id="logs">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">{{ gettext('Logs') }}</div>
                    <button class="btn btn-default btn-xs pull-right refresh" title="{{ gettext('Reload') }}">
                        <span class="fa fa-refresh"></span>
                    </button>
                </div>
                
                <% if (debug_mode) { %>
                <div class="bootstrap-admin-panel-content">
                    <div class="row"><div class="col-sm-12"><strong>{{ gettext('Date') }}:</strong> <%= logs.date %></div></div>
                    <div class="row"><div class="col-sm-12"></div></div>
                    <div class="object_related_list">
                        <% if (logs && logs.files && logs.files.length > 0) { %>
                        <table class="table table-bordered">
                        <tr>
                         <th>{{ gettext('File') }}</th>
                         <th>{{ gettext('Size (in bytes)') }}</th>
                         <th></th>
                         <th></th>
                        </tr>
                        <% logs.files.forEach(function (file, index) { %>
                            <tr>
                               <td width="40%">
                                <%= file.filename %>
                               </td>
                               <td width="20%">
                                <%= file.size %>
                               </td>
                               <td>
                                  <a class="btn" style="white-space: nowrap;" href="/download/computer/logs/<%= id %>/<%= file.filename %>"><span class="fa fa-download"></span>&nbsp;{{ gettext('Download') }}</a> 
                               </td>
                               <td>
                                  <a class="btn" style="white-space: nowrap;" 
                                    href="#"
                                    data-toggle="modal" data-target="#log_viewer" 
                                    onclick="loadLogViewer('/computer/logs/<%= id %>/<%= file.filename %>', '<%= file.filename %>'); return false;">
                                    <span class="fa fa-file-text-o"></span>&nbsp;{{ gettext('View') }}
                                  </a> 
                               </td>
                               <td>
                                  <a class="btn deleteLogBtn" style="white-space: nowrap;" href="#" onclick="deleteLog('/delete/computer/logs/<%= id %>/<%= file.filename %>', '<%= file.filename %>'); return false;">
                                    <span class="fa fa-trash"></span>&nbsp;{{ gettext('Delete') }}
                                  </a> 
                               </td>
                                    
                            </tr>
                                    
                        <% }) %>
                        </table>
                        <% } else { %>
                            <div class="alert alert-warning">{{ gettext('There are no logs for this computer at this moment.') }}</div>
                        <% } %>
                    </div>    
                </div>
                <% } else { %>
                <div class="bootstrap-admin-panel-content">
                    <div class="alert alert-info">
                        <h3>{{ gettext('Please enable the debug mode for this computer') }}</h3>
                        <p>
                         {{ gettext('You can enable the debug mode for this computer by adding Debug mode policy.') }}
                         {{ gettext('After that, you will have to wait until the policy is executed (around 20 minutes).') }}
                        </p>
                        <p>
                         {{ gettext('The debug mode would be active for ') }} {{ (debug_mode_timeout/3600)|int  }} {{ gettext('hours.') }}
                        </p>
                        
                    </div>
                    
                </div>
                <% } %>

            </div>
        </div>        
        
        
        <div class="tab-pane fade in {% if request.user.get('is_superuser', False) %}admin{% endif %}" id="helpchannel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">{{ gettext('Logs') }}</div>
                    <button class="btn btn-default btn-xs pull-right refresh" title="{{ gettext('Reload') }}">
                        <span class="fa fa-refresh"></span>
                    </button>
                </div>
                
                <% if (help_channel_enabled) { %>
                <div class="bootstrap-admin-panel-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <% if (helpchannel && helpchannel.current && helpchannel.current.user) { %>
                            {{ gettext('User that requested support: ') }} <strong><%= helpchannel.current.user %></strong>
                            <button class="btn btn-default btn-xs pull-right support" title="{{ gettext('Support') }}">
                                <span class="fa fa-play"></span> {{ gettext('Support') }}
                            </button>                            
                            
                            <% } else { %>
                            {{ gettext('Nobody in this workstation is asking for support') }}
                            <% } %>
                        </div>
                    </div>
                    <div><br /><br /></div>
                    <div class="row"><div class="col-sm-12"></div></div>
                    <div class="object_related_list">
                        <% if (helpchannel && helpchannel.last && helpchannel.last.length > 0) { %>
                        <table class="table table-bordered">
                        <tr>
                         <th>{{ gettext('Date') }}</th>
                         <th>{{ gettext('User') }}</th>
                         <th>{{ gettext('Assisted by') }}</th>
                         <th>{{ gettext('Status') }}</th>
                        </tr>
                        <% helpchannel.last.forEach(function (hcdata, index) { %>
                            <tr>
                               <td width="40%">
                                <%= hcdata.last_modified %>
                               </td>
                               <td width="20%">
                                <%= hcdata.user %>
                               </td>
                               <td width="20%">
                                <%= hcdata.admin %>
                               </td>
                               <td width="20%">
                                <%= hcdata.status %>
                               </td>
                            </tr>
                                    
                        <% }) %>
                        </table>
                        <% } else { %>
                            <div class="alert alert-warning">{{ gettext('There is no help channel data for this computer at this moment.') }}</div>
                        <% } %>
                    </div>    
                    </div>
                </div>
                <% } else { %>
                <div class="bootstrap-admin-panel-content">
                    <div class="alert alert-info">
                        <h3>{{ gettext('Help Channel not enabled for this computer') }}</h3>
                        <p>
                         {{ gettext('You can enable the Help Channel for this computer by configuring the Help Channel.') }}
                         {{ gettext('After that, you will have to wait until the computer configuration data is uploaded (around 20 minutes).') }}
                        </p>
                    </div>
                    
                </div>
                <% } %>

            </div>
        </div>         
        
        
    </div>
</div>
