<div id="<% if (typeof id !== 'undefined') { print('resource_' + id); } %>" class="panel panel-default">
    <div class="panel-heading">
        <div class="text-muted bootstrap-admin-box-title">Usuario</div>
        <button class="btn btn-default btn-xs pull-right refresh">
            <span class="fa fa-refresh"></span>
        </button>
    </div>
    <div class="bootstrap-admin-panel-content dashboard">
        <form role="form">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" placeholder="Ej: Administradores" required value="<%= name %>">
                    </div>
                    <label>Pertenece a</label>
                    <div id="memberof">
                        <p style="font-size: 1.5em;">
                            <span class="fa fa-spin fa-spinner"></span> Cargando...
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12" id="members">
                    <p style="font-size: 1.5em;">
                        <span class="fa fa-spin fa-spinner"></span> Cargando...
                    </p>
                </div>
            </div>
            <div class="row"><div class="col-sm-12">
                <a href="#" class="btn btn-default">Cancelar</a>
                <button class="btn btn-primary" type="submit" id="save">Guardar</button>
                <% if (typeof id !== "undefined") { %>
                    <button class="btn btn-danger pull-right" id="delete">Borrar</button>
                <% } %>
            </div></div>
        </form>
    </div>
</div>
