<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="text-muted bootstrap-admin-box-title">{{ gettext('Service and tasks status') }}</div>
        </div>
        <!-- TODO mockup -->
        <div class="bootstrap-admin-panel-content" id="home-view">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Gecos UI</dt>
                        <dd><span class="label label-success"><span class="fa fa-check"></span> {{ gettext('Running') }}</span></dd>
                        <dt>Chef Server</dt>
                        <dd><span class="label label-success"><span class="fa fa-check"></span> {{ gettext('Running') }}</span></dd>
                        <dt>Active Directory</dt>
                        <dd><span class="label label-danger"><span class="fa fa-times"></span> {{ gettext('Down') }}</span></dd>
                    </dl>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="easyPieChart" data-percent="<%= Math.round(error / total * 100) %>" style="width: 110px; height: 110px; line-height: 110px;"><% if (!total) { %>0<% } else { %><%= Math.round(error / total * 100) %><% } %>%<canvas width="110" height="110"></canvas></div>
                    <div class="chart-bottom-heading">{{ gettext('Failed tasks') }} (<%= error %> {{ gettext('out of') }} <%= total %>)</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="easyPieChart" data-percent="<%= Math.round(success / total * 100) %>" style="width: 110px; height: 110px; line-height: 110px;"><% if (!total) { %>0<% } else { %><%= Math.round(success / total * 100) %><% } %>%<canvas width="110" height="110"></canvas></div>
                    <div class="chart-bottom-heading">{{ gettext('Completed tasks') }} (<%= success %> {{ gettext('out of') }} <%= total %>)</div>
                </div>
            </div>
        </div>
    </div>
</div>
