<div class="panel-heading">
    <div id="my-jobs-heading" class="text-muted bootstrap-admin-box-title">
        {{ gettext('My actions') }} - <span id="my-jobs-total">{{ gettext('Total') }}&nbsp;<%= total %> </span>
    </div> &nbsp;
    <button id="maximize" class="btn btn-xs btn-default pull-right" title="{{ gettext('Maximize') }}">
        <span class="fa fa-plus"></span>
    </button>
    <button class="btn btn-xs btn-default pull-right refresh" title="{{ gettext('Reload') }}">
        <span class="fa fa-refresh"></span>
    </button>
</div>
<div class="bootstrap-admin-panel-content table-responsive">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="easyPieChart" data-percent="<%= processing / total * 100 %>" bar-color="#ffcc00" style="width: 60px; height: 60px; line-height: 60px;"
              title="{{ gettext('Processing tasks') }}">
                <div class="yellow-text easyPieChart-text">
                    <span class="fa fa-clock-o"></span><br />
                    <span class="percentage"><% if (!total) { %>0<% } else { %><%= Math.ceil(processing / total * 100) %><% } %>%</span>
                </div>
                <canvas width="60" height="60"></canvas>
            </div>
            <div class="chart-bottom-heading"><%= processing %></div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="easyPieChart" data-percent="<%= errors / total * 100 %>" bar-color="#ee0f16" style="width: 60px; height: 60px; line-height: 60px;"
              title="{{ gettext('Failed tasks') }}">
                <div class="red-text easyPieChart-text">
                    <span class="fa fa-exclamation-circle"></span><br />
                    <span class="percentage"><% if (!total) { %>0<% } else { %><%= Math.ceil(errors / total * 100) %><% } %>%</span>
                </div>
                <canvas width="60" height="60"></canvas>
            </div>
            <div class="chart-bottom-heading"><%= errors %></div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="easyPieChart" data-percent="<%= finished / total * 100 %>" bar-color="#34b845" style="width: 60px; height: 60px; line-height: 60px;"
              title="{{ gettext('Completed tasks') }}">
                <div class="green-text easyPieChart-text">
                    <span class="fa fa-check-circle"></span><br />
                    <span class="percentage"><% if (!total) { %>0<% } else { %><%= Math.floor(finished / total * 100) %><% } %>%</span>
                </div>
                <canvas width="60" height="60"></canvas>
             </div>
            <div class="chart-bottom-heading"><%= finished %></div>
        </div>
        <br />
    </div>

</div>
