<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li id="info-tab" class="active"><a href="#info" data-toggle="tab">{{ gettext('Information') }}</a></li>
    <li id="policy-tab"><a href="#policies" data-toggle="tab">{{ gettext('Policies') }}</a></li>
</ul>

<div class="tab-content" id="ou">
    <div class="tab-pane fade in active" id="info">
        <div id="<% if (typeof id !== 'undefined') { print('resource_' + id); } %>" class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">{{ gettext('Organisational Unit') }}</div>
                <button class="btn btn-default btn-xs pull-right refresh" title="{{ gettext('Reload') }}">
                    <span class="fa fa-refresh"></span>
                </button>
            </div>
            <div class="bootstrap-admin-panel-content dashboard">
                <form role="form">
                    <% if (isDomain()) { %>
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-sm-2 info-icon">
                                    <span class="fa fa-globe"></span>
                                </div>
                                <div class="col-sm-5">
                                    <dl>
                                        <dt>{{ gettext('Master') }}</dt>
                                        <dd><%= master %></dd>
                                    </dl>
                                </div>
                                <% if (!_.isEmpty(master_policies)) { %>
                                <div class="col-sm-5" id="master-policies">
                                    <dl>
                                        <dt>{{ gettext('Read-only Policies') }}</dt>
                                    </dl>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">{{ gettext('Name') }}</label>
                                <input id="name" type="text" class="form-control" placeholder="{{ gettext('e.g.') }} {{ gettext('Testing department') }}" required value="<%= name %>">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="extra">{{ gettext('Extra information') }}</label>
                                <textarea id="extra" class="form-control" rows="6"><%= extra %></textarea>
                            </div>
                        </div>
                    </div>
                    <% if (isEditable) { %>
                    <div class="row"><div class="col-sm-12">
                        <a href="#" class="btn btn-default">{{ gettext ('Cancel') }}</a>
                        <button id="submit" type="submit" class="btn btn-primary">{{ gettext('Save') }}</button>
                        <% if (typeof id !== "undefined") { %>
                            <button id="delete" class="pull-right btn btn-danger {% if request.user and request.user.get('is_superuser') %}admin{% endif %}">{{ gettext('Delete') }}</button>
                            <button id="cut" class="pull-right btn btn-warning {% if request.user and request.user.get('is_superuser') %}admin{% endif %}">{{ gettext('Cut') }}</button>
                        <% } %>
                    </div></div>
                    <% } %>
                </form>
            </div>
        </div>
    </div>

    <div class="tab-pane fade in" id="policies">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">{{ gettext('Policies list') }}</div>
            </div>
            <div class="bootstrap-admin-panel-content"></div>
        </div>
    </div>
</div>

<div id="add-policy-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Añadir una política a esta Unidad Organizativa</h4>
            </div>
            <div class="modal-body">
                <div class="input-group mb10">
                    <input type="text" class="form-control" id="newpolicy-filter" placeholder="Filtra">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="newpolicy-filter-btn" type="button"><span class="fa fa-search"></span></button>
                    </span>
                </div>

                <ul id="new-policies" class="list-unstyled">
                    <li><span class="fa fa-cogs"></span> Instalar software <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Acceso a almacenamiento remoto <a href="/ous/policies-storage/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Cambio de fondo de pantalla <a href="/ous/policies-wallpaper/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Aenean hendrerit, tortor <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Duis eu congue leo <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Praesent eu massa ac tellus <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Nullam adipiscing eget neque ac consequat <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Etiam ac arcu a ipsum luctus volutpat <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> In bibendum, metus in sodales adipiscing <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Nam blandit volutpat ligula <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Quisque luctus, enim sed egestas bibendum <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Pellentesque dignissim non dolor a laoreet <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Sed vestibulum augue sit amet sagittis ultrices <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Nam euismod augue sit amet ornare <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Morbi aliquam porta laoreet <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Morbi nec dui pellentesque, imperdiet eros ac <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Nunc aliquet aliquam massa <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Proin tortor sem, venenatis vehicula dictum non <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Vestibulum ante ipsum primis in faucibus orci <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
