<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#info" data-toggle="tab">Información</a></li>
    <li><a href="#policies" data-toggle="tab">Políticas</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="info">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Unidad Organizativa</div>
            </div>
            <div class="bootstrap-admin-panel-content dashboard">
                <form role="form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input id="name" type="text" class="form-control" placeholder="Ej: Departamento de Testing" value="<%= name %>">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="extra">Información extra</label>
                                <textarea id="extra" class="form-control" rows="6"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row"><div class="col-sm-12">
                        <a href="/" class="btn btn-default">Cancelar</a>
                        <button id="submit" type="submit" class="btn btn-primary">Guardar</button>
                        <button id="delete" class="pull-right btn btn-danger">Borrar</button>
                    </div></div>
                </form>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="policies">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Políticas</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <table class="table table-striped table-bordered mb10" id="policies-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td>0. Fondo de pantalla</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>Borde de las ventanas</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td>Sonidos del escritorio</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>Salvapantallas</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td>Tema de iconos</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>0. Instalar software</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-software/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td>0. Acceso a almacenamiento remoto</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-storage/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>Aliquam eleifend sollicitudin</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td>Etiam viverra eu odio</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>Nullam dictum libero vulputate turpis aliquam</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td>Donec faucibus ligula vitae arcu varius congue</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>Pellentesque adipiscing nisl a nibh</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td>Duis consectetur mollis urna</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>Etiam hendrerit</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td>Sed et magna quam</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>Integer at nibh congue</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td>Nam viverra rhoncus lorem</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>Mauris erat nulla</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td>Nullam nec suscipit massa</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>Fusce ac mauris eu augue</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td>Sed viverra, mi ac viverra fringilla</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>Proin accumsan eu enim vel congue</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                <a href="/ous/policies-wallpaper/" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button id="add-policy" class="btn btn-primary"><span class="fa fa-plus"></span> Añadir</button>
            </div>
        </div>
    </div>
</div>

<div id="add-policy-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Añadir una política a esta Unidad Organizativa</h4>
            </div>
            <div class="modal-body">
                <div class="input-group mb10">
                    <input type="text" class="form-control" id="newpolicy-filter" placeholder="Filtra">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="newpolicy-filter-btn" type="button"><span class="fa fa-search"></span></button>
                    </span>
                </div>

                <ul id="new-policies" class="list-unstyled">
                    <li><span class="fa fa-cogs"></span> Instalar software <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Acceso a almacenamiento remoto <a href="/ous/policies-storage/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Cambio de fondo de pantalla <a href="/ous/policies-wallpaper/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Aenean hendrerit, tortor <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Duis eu congue leo <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Praesent eu massa ac tellus <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Nullam adipiscing eget neque ac consequat <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Etiam ac arcu a ipsum luctus volutpat <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> In bibendum, metus in sodales adipiscing <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Nam blandit volutpat ligula <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Quisque luctus, enim sed egestas bibendum <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Pellentesque dignissim non dolor a laoreet <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Sed vestibulum augue sit amet sagittis ultrices <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Nam euismod augue sit amet ornare <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Morbi aliquam porta laoreet <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Morbi nec dui pellentesque, imperdiet eros ac <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Nunc aliquet aliquam massa <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Proin tortor sem, venenatis vehicula dictum non <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Vestibulum ante ipsum primis in faucibus orci <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
