<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-muted bootstrap-admin-box-title">{{ gettext('Add policy to') }} <%= resource.name %></div>
    </div>
    <div class="bootstrap-admin-panel-content dashboard">
        <div class="row"><div class="col-sm-6">
            <div class="input-group mb10">
                <span class="input-group-btn">
                        <button id="policy-close-search-btn" class="btn btn-danger" type="button" style="display: none;"><span class="fa fa-times"></span></button>
                    </span>
                <input type="text" class="form-control" id="newpolicy-filter"
                       placeholder="{{ gettext('Search') }}"
                       value="<%= currentFilter %>"
                >
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="newpolicy-filter-btn" type="button"><span class="fa fa-search"></span></button>
                </span>
            </div>
        </div></div>

        <ul id="new-policies" class="list-unstyled">
            <% _.each(items, function (policy) { %>
                <li id="<%= policy.id %>">
                    <% if (policy['is_mergeable']) { %>
                        <span class="fa fa-random" title="{{ gettext('Additive') }}"></span>
                    <% } else { %>
                        <span class="fa fa-long-arrow-right" title="{{ gettext('Overriding') }}"></span>
                    <% } %>
                     <%= policy['name_' + App.language] || policy.name %>
                    <% if (!resource.policyCollection.get(policy.id) && !_.some(resource.master_policies, function (a, k) { return k === policy.id;})) {  %>
                    <button class="btn btn-primary btn-xs pull-right add-policy-btn">
                        <span class="fa fa-plus"></span> {{ gettext('Add') }}
                    </button>
                    <% } %>
                    <% if (_.some(resource.master_policies, function (a, k) { return k === policy.id;})) {  %>
                    <button class="btn btn-info btn-xs pull-right">
                        <span class="fa fa-globe"></span> {{ gettext('External') }}
                    </button>
                    <% } %>
                    <% if (policy.support_os && policy.support_os.length > 0) { %>
                        <% _.each(policy.support_os, function (os) { %>
                            <span class="label label-success"><%= os %></span>
                        <% }); %>
                     <% } else { %>
                        <span class="label label-danger">{{ gettext('No supported OS') }}</span>
                    <% } %>
                </li>
            <% }); %>
        </ul>
        <div>
            <button id="cancel" class="btn btn-default mt20">
                {{ gettext('Cancel') }}
            </button>
            <% if (showPaginator) { %>
                <ul class="pagination pull-right">
                    <li <% if (!prev) { print('class="disabled"'); } %>>
                        <a class="previous" href="#">&laquo;</a>
                    </li>
                    <% if (initial) { %>
                        <li><a href="#" class="extreme-right">1</a></li>
                        <li><span class="triple-dot">&hellip;</span></li>
                    <% } %>
                    <% _.each(pages, function (p) { %>
                        <% if (p[1]) { %>
                            <li class="active">
                                <span><%= p[0] %></a>
                            </li>
                        <% } else { %>
                            <li>
                                <a href="#"><%= p[0] %></a>
                            </li>
                        <% } %>
                    <% }); %>
                    <% if (final) { %>
                        <li><span class="triple-dot">&hellip;</span></li>
                        <li><a href="#" class="extreme-right"><%= totalPages %></a></li>
                    <% } %>
                    <li <% if (!next) { print('class="disabled"'); } %>>
                        <a class="next" href="#">&raquo;</a>
                    </li>
                </ul>
            <% } %>
        </div>
    </div>
</div>
