<div class="row"><div class="col-sm-12">
<% if (items.length > 0) { %>
    <table class="table table-striped table-bordered mb10" id="policies-table">
        <thead>
            <tr>
                <th>{{ gettext('Name') }}</th>
                <th>{{ gettext('Support OS') }}</th>
                <th>{{ gettext('Actions') }}</th>
            </tr>
        </thead>
        <tbody>
        <% _.each(items, function (policy, idx) { %>
            <tr id="<%= policy.id %>" class="
                <% if (idx % 2 === 0) { print('even'); } else { print('odd'); } %>
            ">
                <td>
                    <% if (policy['is_mergeable']) { %>
                        <span class="fa fa-random" title="{{ gettext('Additive') }}"></span>
                    <% } else { %>
                        <span class="fa fa-long-arrow-right" title="{{ gettext('Overriding') }}"></span>
                    <% } %>
                     <%= policy['name_' + App.language] || policy.name %></td>
                <td>
                    <% if (policy.support_os && policy.support_os.length > 0) { %>
                        <% _.each(policy.support_os, function (os) { %>
                            <span class="label label-success"><%= os %></span>
                        <% }); %>
                    <% } else { %>
                        <span class="label label-danger">{{ gettext('No supported OS') }}</span>
                    <% } %>
                </td>
                <td>
                <% if (!_.some(resource.get("master_policies"), function (a, k) { return k === policy.id;} )) { %>
                    <button class="btn btn-danger btn-xs">
                        <span class="fa fa-times"></span> {{ gettext('Remove') }}
                    </button>
                    <button class="btn btn-default btn-xs">
                        <span class="fa fa-edit"></span> {{ gettext('Edit') }}
                    </button>
                <% } else {     %>
                    <button class="btn btn-info btn-xs">
                        <span class="fa fa-edit"></span> {{ gettext('View') }}
                    </button>
                <% } %>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
<% } else { %>
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <% if (typeof resource.id !== 'undefined') { %>
            <strong>{{ gettext('Empty!') }}</strong> {{ gettext('There are no policies assigned to this resource yet.') }}
        <%} else { %>
            {{ gettext('If you want to add any policy, please execute the changes') }}
        <% } %>
    </div>
<% } %>
</div></div>
<% if (typeof resource.id !== 'undefined') { %>
<div class="row"><div class="col-xs-12">
        <button class="btn btn-primary" id="add-policy">
            <span class="fa fa-plus"></span> {{ gettext('Add a policy to this resource') }}
        </button>
</div></div>
<% } %>
