<div id="<% if (typeof id !== 'undefined') { print('resource_' + id); } %>" class="panel panel-default">
    <div class="panel-heading">
        <div class="text-muted bootstrap-admin-box-title">
            <% if (is_mergeable) { %>
                <span class="fa fa-random" title="{{ gettext('Additive') }}"></span>
            <% } else { %>
                <span class="fa fa-long-arrow-right" title="{{ gettext('Overriding') }}"></span>
            <% } %>
         {{ gettext('Configure policy:') }} <%= name %></div>
        <a href="{{ help_manual_url }}<%= slug %>"
        class="pull-right" target="_blank">{{ gettext('Help') }}</a>
    </div>
    <div class="bootstrap-admin-panel-content dashboard">
        <form role="form" class="form-horizontal">
            <div class="row"><div class="col-sm-12">
            <% if (!_.some(resource.get("master_policies"), function (a, k) { return k === id;} )) { %>
                <button id="cancel" class="btn btn-default">{{ gettext('Cancel') }}</button>
                <button id="submit" type="submit" class="btn btn-primary">{{ gettext('Save') }}</button>
                <% if (typeof id !== "undefined") { %>
                    <button id="delete" class="pull-right btn btn-danger">{{ gettext('Delete') }}</button>
                <% } %>
            <% } else { %>
                <button id="cancel" class="btn btn-default">{{ gettext('Back') }}</button>
            <% } %>
            </div></div>
        </form>
    </div>
</div>
