<div id="add-policy-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Añadir una política a esta Unidad Organizativa</h4>
            </div>
            <div class="modal-body">
                <div class="input-group mb10">
                    <input type="text" class="form-control" id="newpolicy-filter" placeholder="Filtra">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="newpolicy-filter-btn" type="button"><span class="fa fa-search"></span></button>
                    </span>
                </div>

                <ul id="new-policies" class="list-unstyled">
                    <li><span class="fa fa-cogs"></span> Instalar software <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Acceso a almacenamiento remoto <a href="/ous/policies-storage/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Cambio de fondo de pantalla <a href="/ous/policies-wallpaper/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Aenean hendrerit, tortor <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Duis eu congue leo <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Praesent eu massa ac tellus <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Nullam adipiscing eget neque ac consequat <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Etiam ac arcu a ipsum luctus volutpat <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> In bibendum, metus in sodales adipiscing <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Nam blandit volutpat ligula <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Quisque luctus, enim sed egestas bibendum <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Pellentesque dignissim non dolor a laoreet <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Sed vestibulum augue sit amet sagittis ultrices <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Nam euismod augue sit amet ornare <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Morbi aliquam porta laoreet <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Morbi nec dui pellentesque, imperdiet eros ac <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Nunc aliquet aliquam massa <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Proin tortor sem, venenatis vehicula dictum non <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                    <li><span class="fa fa-cogs"></span> Vestibulum ante ipsum primis in faucibus orci <a href="/ous/policies-software/" class="btn btn-primary btn-sm pull-right">Añadir</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
