<div id="<% if (typeof id !== 'undefined') { print('resource_' + id); } %>" class="panel panel-default">
    <div class="panel-heading">
        <div class="text-muted bootstrap-admin-box-title">{{ gettext('Repository') }}</div>
        <button class="btn btn-default btn-xs pull-right refresh" title="{{ gettext('Reload') }}">
            <span class="fa fa-refresh"></span>
        </button>
    </div>
    <div class="bootstrap-admin-panel-content dashboard">
        <form role="form">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group <% if (!name) { print('has-error'); } %>">
                        <label for="name">{{ gettext('Name') }}</label>
                        <input id="name" type="text" class="form-control" placeholder="{{ gettext('e.g.') }} main" required value="<%= name %>">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group <% if (!url) { print('has-error'); } %>">
                        <label for="url">{{ gettext('Url') }}</label>
                        <input id="url" type="url" class="form-control" placeholder="{{ gettext('e.g.') }} http://packages.linuxmint.com/pool/main/" required value="<%= url %>">
                    </div>
                </div>
            </div>
            <div class="row"><div class="col-sm-12">
                <div class="form-group">
                    <label for="description">{{ gettext('Description') }}</label>
                    <input id="description" type="text" class="form-control" placeholder="{{ gettext('e.g.') }} {{ gettext('The main Linux Mint repository') }}" value="<%= description %>">
                </div>
            </div></div>
            <div class="row"><div class="col-sm-12">
                <a href="#" class="btn btn-default">{{ gettext('Cancel') }}</a>
                <button id="submit" type="submit" class="btn btn-primary">{{ gettext('Save') }}</button>
                <% if (typeof id !== "undefined") { %>
                    <button id="delete" class="pull-right btn btn-danger">{{ gettext('Delete') }}</button>
                <% } %>
            </div></div>
        </form>
    </div>
</div>
