<div id="<% if (typeof id !== 'undefined') { print('resource_' + id); } %>" class="panel panel-default">
    <div class="panel-heading">
        <div class="text-muted bootstrap-admin-box-title">{{ gettext('Repository') }}</div>
        <button class="btn btn-default btn-xs pull-right refresh" title="{{ gettext('Reload') }}">
            <span class="fa fa-refresh"></span>
        </button>
    </div>
    <div class="bootstrap-admin-panel-content dashboard">
        <form role="form">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">{{ gettext('Name') }}</label>
                        <input id="name" type="text" class="form-control" placeholder="{{ gettext('e.g.') }} main" required value="<%= name %>">
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="distribution">{{ gettext('Distribution') }}</label>
                        <input id="distribution" type="text" class="form-control" placeholder="{{ gettext('e.g.') }} Debian 7.4 (i386)" value="<%= distribution %>">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="uri">{{ gettext('Url') }}</label>
                        <input id="uri" type="uri" class="form-control" placeholder="{{ gettext('e.g.') }} http://packages.linuxmint.com/pool/main/" required value="<%= uri %>">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name">{{ gettext('Key') }}</label>
                        <input id="repo_key" type="text" class="form-control" placeholder="{{ gettext('e.g.') }} C0061A4A" required value="<%= repo_key %>">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="key_server">{{ gettext('Key server') }}</label>
                        <input id="key_server" type="text" class="form-control" placeholder="{{ gettext('e.g.') }} keyring.debian.org" required value="<%= key_server %>">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="components">{{ gettext('Components') }}</label>
                        <input id="components" type="text" class="form-control" placeholder="{{ gettext('e.g.') }} component1, component2, component3" value="<%= components %>">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="deb_src">{{ gettext('Deb sources') }}</label><br />
                        <label for="deb_src" class="group checkbox-inline">
                          <input id="deb_src" type="checkbox" placeholder="{{ gettext('e.g.') }} http://packages.linuxmint.com/pool/main/" value="true" <% if (deb_src) { %>checked="checked"<% } %> />

                          {{ gettext('Deb sources') }}
                        </label>
                    </div>
                </div>
            </div>
            <% if (isEditable) { %>
            <div class="row"><div class="col-sm-12">
                <a href="#" class="btn btn-default">{{ gettext('Cancel') }}</a>
                <button id="submit" type="submit" class="btn btn-primary">{{ gettext('Save') }}</button>
                <% if (typeof id !== "undefined") { %>
                    <button id="delete" class="pull-right btn btn-danger">{{ gettext('Delete') }}</button>
                    <button id="cut" class="pull-right btn btn-warning {% if request.user and request.user.get('is_superuser') %}admin{% endif %}">{{ gettext('Cut') }}</button>
                <% } %>
            </div></div>
            <% } %>
        </form>
    </div>
</div>
