<div class="modal fade" id="staging-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ gettext('Staged changes pending of execution') }}
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    <% _.each(items, function (model) { %>
                        <li id="<%= model.id %>" title="ID: <%= model.id %>" class="model">
                            <% if (_.contains(deletions, model.id)) { %>
                                <span class="label label-danger">{{ gettext('Deleted') }}</span>
                            <% } else if (_.some(moves, function (o) { return o[0] === model.id; })) { %>
                                <span class="label label-warning">{{ gettext('Moved') }}</span>
                            <% } else if (_.contains(modified, model.id)) { %>
                                <span class="label label-primary">{{ gettext('Modified') }}</span>
                            <% } else { %>
                                <span class="label label-info">{{ gettext('Added') }}</span>
                            <% } %>
                            <%= model.name %>
                            <button class="discard btn btn-info btn-xs pull-right" title="{{ gettext('Discard changes') }}">
                                <span class="fa fa-times"></span>
                            </button>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ gettext('Close') }}</button>
                <button type="button" class="btn btn-primary">{{ gettext('Execute changes') }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
