<div class="modal fade" id="staging-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cambios propuestos para ejecutar</h4>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    <% _.each(items, function (model) { %>
                        <li id="<%= model.id %>" title="ID: <%= model.id %>" class="model">
                            <%= model.name %> <button class="btn btn-danger btn-xs pull-right"><span class="fa fa-times"></span></button>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Ejecutar los cambios</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
