<div id="<% if (typeof id !== 'undefined') { print('resource_' + id); } %>" class="panel panel-default">
    <div class="panel-heading">
        <div class="text-muted bootstrap-admin-box-title">{{ gettext('Remote Storage') }}</div>
        <button class="btn btn-default btn-xs pull-right refresh" title="{{ gettext('Reload') }}">
            <span class="fa fa-refresh"></span>
        </button>
    </div>
    <div class="bootstrap-admin-panel-content dashboard">
        <form role="form">
            <div class="row"><div class="col-sm-12">
                <div class="form-group">
                    <label for="name">{{ gettext('Name') }}</label>
                    <input id="name" type="text" class="form-control" required placeholder="{{ gettext('e.g.') }} {{ gettext('Access to the network storage S01') }}" value="<%= name %>">
                </div>
            </div></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="uri">{{ gettext('URI') }}</label>
                        <input id="uri" type="text" class="form-control" required placeholder="{{ gettext('e.g.') }} sshfs://192.168.12.078:9100{{ gettext('/path/to/the/directory') }}/" value="<%= uri %>">
                    </div>
                </div>
            </div>
            <% if (isEditable) { %>
            <div class="row"><div class="col-sm-12">
                <a href="#" class="btn btn-default">{{ gettext('Cancel') }}</a>
                <button id="submit" type="submit" class="btn btn-primary">{{ gettext('Save') }}</button>
                <% if (typeof id !== "undefined") { %>
                    <button id="delete" class="pull-right btn btn-danger">{{ gettext('Delete') }}</button>
                    <button id="cut" class="pull-right btn btn-warning {% if request.user and request.user.get('is_superuser') %}admin{% endif %}">{{ gettext('Cut') }}</button>
                <% } %>
            </div></div>
            <% } %>
        </form>
    </div>
</div>
