<div id="<% if (typeof id !== 'undefined') { print('resource_' + id); } %>" class="panel panel-default">
    <div class="panel-heading">
        <div class="text-muted bootstrap-admin-box-title">{{ gettext('Remote Storage') }}</div>
        <button class="btn btn-default btn-xs pull-right refresh" title="{{ gettext('Reload') }}">
            <span class="fa fa-refresh"></span>
        </button>
    </div>
    <div class="bootstrap-admin-panel-content dashboard">
        <form role="form">
            <div class="row"><div class="col-sm-12">
                <div class="form-group <% if (!name) { print('has-error'); } %>">
                    <label for="name">{{ gettext('Name') }}</label>
                    <input id="name" type="text" class="form-control" required placeholder="{{ gettext('e.g.') }} {{ gettext('Access to the network storage S01') }}" value="<%= name %>">
                </div>
            </div></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group <% if (!uri) { print('has-error'); } %>">
                        <label for="uri">{{ gettext('URI') }}</label>
                        <input id="uri" type="text" class="form-control" required placeholder="{{ gettext('e.g.') }} sshfs://192.168.12.078:9100{{ gettext('/path/to/the/directory') }}/" value="<%= uri %>">
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="user">{{ gettext('Username') }}</label>
                        <input id="user" type="text" class="form-control" placeholder="{{ gettext('e.g.') }} {{ gettext('john') }}">
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="passwd">{{ gettext('Password') }}</label>
                        <input id="passwd" type="password" class="form-control">
                    </div>
                </div>
            </div>-->
            <div id="groups-widget">
                <p style="font-size: 1.5em;">
                    <span class="fa fa-spin fa-spinner"></span> {{ gettext('Loading') }}...
                </p>
            </div>
            <div class="row"><div class="col-sm-12">
                <a href="#" class="btn btn-default">{{ gettext('Cancel') }}</a>
                <button id="submit" type="submit" class="btn btn-primary">{{ gettext('Save') }}</button>
                <% if (typeof id !== "undefined") { %>
                    <button id="delete" class="pull-right btn btn-danger">{{ gettext('Delete') }}</button>
                <% } %>
            </div></div>
        </form>
    </div>
</div>
