<% if (number > 0) { %>
    <div class="info">
        <div>
            {{ gettext('Selection:') }} <%= number %>
            <button id="selection-info-clear" class="btn btn-default btn-xs pull-right">
                <span class="fa fa-eraser"></span>
            </button>
        </div>
        <% if (noGroups) { %>
            <div>
                {{ gettext('Add to:') }}
                <select class="chzn-select">
                    <option value="">{{ gettext('None') }}</option>
                    <% _.each(groups, function (item) { %>
                        <option value="<%= item.id %>">
                            <%= item.name %>
                        </option>
                    <% }); %>
                </select>
                <button id="selection-info-add2group" class="btn btn-default btn-xs">
                    {{ gettext('Save') }}
                </button>
            </div>
        <% } %>
    </div>
<% } %>
