<div id="<% if (typeof id !== 'undefined') { print(id); } %>" class="panel panel-default">
    <div class="panel-heading">
        <div class="text-muted bootstrap-admin-box-title">Usuario</div>
    </div>
    <div class="bootstrap-admin-panel-content dashboard">
        <form role="form">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group <% if (!name) { print('has-error'); } %>">
                        <label for="username">Nombre de usuario</label>
                        <input id="username" type="text" class="form-control" placeholder="Ej: juan" required value="<%= name %>">
                    </div>
                    <div class="form-group">
                        <label for="passwd1">Contraseña</label>
                        <div class="row"><div class="col-sm-12 col-md-6">
                            <input id="passwd1" type="password" class="form-control" disabled>
                        </div><div class="col-sm-12 col-md-6">
                            <input id="passwd2" type="password" class="form-control" placeholder="Repita la contraseña" disabled>
                        </div></div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Teléfono</label>
                        <input id="phone" type="tel" class="form-control" placeholder="Ej: 654 99 88 77" value="<%= phone %>">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group <% if (!email) { print('has-error'); } %>">
                        <label for="email">Email</label>
                        <input id="email" type="email" class="form-control" placeholder="Ej: juan.nadie@gmail.com" required value="<%= email %>">
                    </div>
                    <div class="row"><div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="firstname">Nombre</label>
                            <input id="firstname" type="text" class="form-control" placeholder="Ej: Juan" value="<%= first_name %>">
                        </div>
                    </div><div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="lastname">Apellidos</label>
                            <input id="lastname" type="text" class="form-control" placeholder="Ej: Nadie" value="<%= last_name %>">
                        </div>
                    </div></div>
                    <div class="form-group">
                        <label for="address">Dirección</label>
                        <input id="address" type="text" class="form-control" placeholder="Ej: C/ Principal, num 123" value="<%= address %>">
                    </div>
                </div>
            </div>
            <div id="groups-widget">
                <p style="font-size: 1.5em;">
                    <span class="fa fa-spin fa-spinner"></span> Cargando...
                </p>
            </div>
            <div class="row"><div class="col-sm-12">
                <a href="/" class="btn btn-default">Cancelar</a>
                <button id="submit" type="submit" class="btn btn-primary">Guardar</button>
                <% if (typeof id !== "undefined") { %>
                    <button id="delete" class="pull-right btn btn-danger">Borrar</button>
                <% } %>
            </div></div>
        </form>
    </div>
</div>
