{% extends "base_navbar.jinja2" %}

{% block nav_bar_home %}{% endblock %}
{% block nav_bar_groups %}active{% endblock %}

{% block inner_content %}
<div id="groups" class="container">
    <h1>Grupos</h1>
    <div class="panel panel-default"><div class="bootstrap-admin-panel-content dashboard">
        <div id="viewport-main">
            <p style="font-size: 3em;">
                <span class="fa fa-spin fa-spinner"></span> Loading...
            </p>
        </div>
    </div></div>
</div>

<div id="group-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Añadir grupo</h4>
            </div>
            <form role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input id="name" type="text" class="form-control" placeholder="Ej: Administradores de Sede Central">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="edit-group-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Editar grupo</h4>
            </div>
            <form role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input id="name" type="text" class="form-control" placeholder="Ej: Administradores de Sede Central" value="Administradores de Sede Central">
                    </div>

                    <label>Permisos (Grupos):</label>
                    <div class="input-group mb10">
                        <input type="text" class="form-control" id="permission-filter" placeholder="Filtra">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id="permission-filter-btn" type="button"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                    <div class="well"><ul class="permissions">
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm0" value="option1"> Lorem
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm1" value="option1"> Ipsum
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm2" value="option1"> Dolor
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm3" value="option1"> Sit amet
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm4" value="option1"> Consectetur
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm5" value="option1"> Adipiscing
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm6" value="option1"> Elit
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm7" value="option1"> Etiam
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm8" value="option1"> Hendrerit
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm9" value="option1"> Scelerisque
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm10" value="option1"> Lorem
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm11" value="option1"> Ipsum
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm12" value="option1"> Dolor
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm13" value="option1"> Sit amet
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm14" value="option1"> Consectetur
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm15" value="option1"> Adipiscing
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm16" value="option1"> Elit
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm17" value="option1"> Etiam
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm18" value="option1"> Hendrerit
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm19" value="option1"> Scelerisque
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm20" value="option1"> Lorem
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm21" value="option1"> Ipsum
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm22" value="option1"> Dolor
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm23" value="option1"> Sit amet
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm24" value="option1"> Consectetur
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm25" value="option1"> Adipiscing
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm26" value="option1"> Elit
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm27" value="option1"> Etiam
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm28" value="option1"> Hendrerit
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm29" value="option1"> Scelerisque
                        </label></li>
                    </ul></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}


{% block extrajs %}
<script src="{{request.application_url}}/static/js/libs/jquery.dataTables-1.9.4.min.js"></script>
<script src="{{request.application_url}}/static/js/libs/DT_bootstrap.min.js"></script>
<script src="{{request.application_url}}/static/js/libs/underscore-1.5.2.min.js"></script>
<script src="{{request.application_url}}/static/js/libs/backbone-1.1.0.min.js"></script>
<script src="{{request.application_url}}/static/js/libs/backbone-marionette-1.4.1.min.js"></script>
<script src="{{request.application_url}}/static/js/app-groups.js"></script>
<script src="{{request.application_url}}/static/js/group.js"></script>

<script type="text/html" id="groups-table-template">{% include "bb-groups-table.html" %}</script>
<script type="text/html" id="groups-row-template">{% include "bb-groups-row.html" %}</script>
<script type="text/html" id="groups-form-template">{% include "bb-groups-form.html" %}</script>

<script>
//     $(document).ready(function () {
//         var permissionFilter = function (filter) {
//             $("label.permission").each(function (index, label) {
//                 var $label = $(label),
//                     filterReady = filter.trim().toLowerCase(),
//                     text = $label.text().trim().toLowerCase();
//                 if (filterReady.length === 0 || text.indexOf(filterReady) >= 0) {
//                     $label.parent().show();
//                 } else {
//                     $label.parent().hide();
//                 }
//             });
//         };
//
//         $("#permission-filter").on("keyup", function (evt) {
//             permissionFilter($(evt.target).val());
//         });
//         $("#permission-filter-btn").on("click", function (evt) {
//             permissionFilter($(evt.target).parents('div.input-group').find("input").val());
//         });
//
//         var modal = $("#group-modal").modal({ show: false }),
//             editModal = $("#edit-group-modal").modal({ show: false });
//         $("#add-group").click(function () {
//             modal.modal("show");
//         });
//         $("a.edit-group").click(function () {
//             editModal.modal("show");
//         });
//     });

    $(document).ready(function () {
        App.start();
    });
</script>
{% endblock %}
