{% extends "base_navbar.jinja2" %}

{% block nav_bar_home %}{% endblock %}
{% block nav_bar_groups %}active{% endblock %}

{% block inner_content %}
<div class="container">
    <!-- TODO -->
    <div class="alert alert-danger">Missing content</div>
</div>
{% endblock %}
