{% extends "base_navbar.jinja2" %}

{% block extraheader %}
<style>
    .container {
        padding-bottom: 30px;
    }

    tr td:last-child {
        width: 30%;
    }

    tr td:last-child a:first-child {
        margin-left: 8px;
    }

    tr td:last-child a {
        float: right;
    }

    ul.permissions {
        margin: 0;
        padding: 0;
    }

    ul.permissions li {
        display: inline-block;
        padding-right: 15px;
    }
</style>
{% endblock %}

{% block nav_bar_home %}{% endblock %}
{% block nav_bar_groups %}active{% endblock %}

{% block inner_content %}
<div class="container">
    <h1>Grupos</h1>
    <div class="panel panel-default"><div class="bootstrap-admin-panel-content dashboard">
        <table class="table table-striped table-bordered" id="policies-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd">
                    <td>Administradores de Sede Central</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>Administradores de Sede Exterior</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>Aenean hendrerit, tortor a rutrum consectetur</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>Duis eu congue leo</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>Maecenas id eleifend mi</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>Cras convallis bibendum nulla</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>Etiam sit amet neque ligula</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>Vivamus in massa quis ipsum vulputate </td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>Nunc tincidunt diam et metus dapibus</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>Aenean hendrerit, tortor a rutrum consectetur</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>Duis eu congue leo</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>Maecenas id eleifend mi</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>Cras convallis bibendum nulla</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>Etiam sit amet neque ligula</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>Vivamus in massa quis ipsum vulputate </td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>Nunc tincidunt diam et metus dapibus</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                        <a href="#" class="edit-group btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="add-group" class="btn btn-primary"><span class="fa fa-plus"></span> Añadir grupo</button>
    </div></div>
</div>

<div id="group-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Añadir grupo</h4>
            </div>
            <form role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input id="name" type="text" class="form-control" placeholder="Ej: Administradores de Sede Central">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="edit-group-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Editar grupo</h4>
            </div>
            <form role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input id="name" type="text" class="form-control" placeholder="Ej: Administradores de Sede Central" value="Administradores de Sede Central">
                    </div>

                    <label>Permisos (Grupos):</label>
                    <div class="input-group mb10">
                        <input type="text" class="form-control" id="permission-filter" placeholder="Filtra">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id="permission-filter-btn" type="button"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                    <div class="well"><ul class="permissions">
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm0" value="option1"> Lorem
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm1" value="option1"> Ipsum
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm2" value="option1"> Dolor
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm3" value="option1"> Sit amet
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm4" value="option1"> Consectetur
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm5" value="option1"> Adipiscing
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm6" value="option1"> Elit
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm7" value="option1"> Etiam
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm8" value="option1"> Hendrerit
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm9" value="option1"> Scelerisque
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm10" value="option1"> Lorem
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm11" value="option1"> Ipsum
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm12" value="option1"> Dolor
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm13" value="option1"> Sit amet
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm14" value="option1"> Consectetur
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm15" value="option1"> Adipiscing
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm16" value="option1"> Elit
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm17" value="option1"> Etiam
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm18" value="option1"> Hendrerit
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm19" value="option1"> Scelerisque
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm20" value="option1"> Lorem
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm21" value="option1"> Ipsum
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm22" value="option1"> Dolor
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm23" value="option1"> Sit amet
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm24" value="option1"> Consectetur
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm25" value="option1"> Adipiscing
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm26" value="option1"> Elit
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm27" value="option1"> Etiam
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm28" value="option1"> Hendrerit
                        </label></li>
                        <li><label class="permission checkbox-inline">
                            <input type="checkbox" id="perm29" value="option1"> Scelerisque
                        </label></li>
                    </ul></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}


{% block extrajs %}
<script src="{{request.application_url}}/static/js/libs/jquery.dataTables-1.9.4.min.js"></script>
<script src="{{request.application_url}}/static/js/libs/DT_bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        /* Table initialisation */
        $('#policies-table').dataTable({
            "sDom": "<'row'<'col-md-8'l><'col-md-4'f>r>t<'row'<'col-md-8'i><'col-md-4'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ registros por página",
                "oAria": {
                    "sSortAscending": ": activar para odernar ascendentemente la columna",
                    "sSortDescending": ": activar para odernar descendentemente la columna"
                },
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sPrevious": "Anterior",
                    "sNext": "Siguiente"
                },
                "sEmptyTable": "No hay datos disponibles en la tabla",
                "sInfo": "Mostrando de _START_ a _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando de 0 a 0 de 0 registros",
                "sInfoFiltered": "(filtrados de un total de _MAX_ registros)",
                // "sInfoPostFix": "All records shown are derived from real information.",
                // "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "sProcessing": "Procesando...",
                "sSearch": "Buscar:",
                // "sUrl": "http://www.sprymedia.co.uk/dataTables/lang.txt",
                "sZeroRecords": "Ningún registro que encaje encontrado"
            }
        });

        var permissionFilter = function (filter) {
            $("label.permission").each(function (index, label) {
                var $label = $(label),
                    filterReady = filter.trim().toLowerCase(),
                    text = $label.text().trim().toLowerCase();
                if (filterReady.length === 0 || text.indexOf(filterReady) >= 0) {
                    $label.parent().show();
                } else {
                    $label.parent().hide();
                }
            });
        };

        $("#permission-filter").on("keyup", function (evt) {
            permissionFilter($(evt.target).val());
        });
        $("#permission-filter-btn").on("click", function (evt) {
            permissionFilter($(evt.target).parents('div.input-group').find("input").val());
        });

        var modal = $("#group-modal").modal({ show: false }),
            editModal = $("#edit-group-modal").modal({ show: false });
        $("#add-group").click(function () {
            modal.modal("show");
        });
        $("a.edit-group").click(function () {
            editModal.modal("show");
        });
    });
</script>
{% endblock %}
