{% extends "base.jinja2" %}

{% block extraheader %}
<style>
    .alert {
        margin: 0 auto 20px;
    }
</style>
{% endblock %}

{% block htmlclass %}bootstrap-admin-vertical-centered{% endblock %}
{% block bodyclass %}bootstrap-admin-without-padding{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <form method="post" action="" class="bootstrap-admin-login-form">
            {% if message is defined %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                {{ message }}
            </div>
            {% endif %}
            <h1>{{ gettext('GECOS CC Login') }}</h1>
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="{{ gettext('Username') }}">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="{{ gettext('Password') }}">
            </div>
            <input type="submit" value="{{ gettext('Submit') }}" class="btn btn-primary btn-lg">
        </form>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function () {
        $('input[name="email"]').focus();
    });
</script>
{% endblock %}
