{% extends "base.jinja2" %}

{% block extraheader %}
<style>
    .alert {
        margin: 0 auto 20px;
    }
</style>
{% endblock %}

{% block htmlclass %}bootstrap-admin-vertical-centered{% endblock %}
{% block bodyclass %}bootstrap-admin-without-padding{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <form method="post" action="/login/" class="bootstrap-admin-login-form">
            {% if message is defined %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                {{ message }}
            </div>
            {% endif %}
            <h1>GECOS CC Login</h1>
            <h4 class="bootstrap-admin-light-padding-bottom">Consejería de Hacienda</h4>
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Nombre de usuario">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Contraseña">
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" name="remember_me">
                    Recuérdame
                </label>
            </div>
            <input type="submit" value="Enviar" class="btn btn-primary btn-lg">
        </form>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function () {
        $('input[name="email"]').focus();
    });
</script>
{% endblock %}
