{% extends "base_navbar.jinja2" %}

{% block nav_bar_home %}{% endblock %}
{% block nav_bar_reports %}active{% endblock %}

{% block extraheader %}
<style>
    div.container {
        margin-bottom: 25px;
    }

    ul li {
        margin-bottom: 10px;
    }

    #failed ul li .type-icon,
    #pending ul li .type-icon {
        margin: 0 10px;
    }

    #failed ul li .label,
    #pending ul li .label {
        position: relative;
        top: 1px;
        margin-left: 5px;
    }
</style>
{% endblock %}

{% block inner_content %}
<div class="container">
    <div class="row"><div class="col-sm-12">
        <h1>Informes</h1>
    </div></div>
    <div class="row"><div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#failed" data-toggle="tab">Tareas fallidas</a></li>
            <li><a href="#pending" data-toggle="tab">Tareas pendientes</a></li>
            <li><a href="#users" data-toggle="tab">Usuarios existentes</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="failed">
                <ul>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 10 - Sede Central, alta de un nuevo puesto de trabajo <span class="label label-danger pull-right">Fallida</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 15 - Sede Central, mauris mauris, lacinia eget tortor <span class="label label-danger pull-right">Fallida</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 16 - Sede Central, bibendum vulputate turpis <span class="label label-danger pull-right">Fallida</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 32 - Sede Central, ulputate quis, convallis eget nunc <span class="label label-danger pull-right">Fallida</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 45 - Sede Central, ut porttitor felis, et adipiscing eros <span class="label label-danger pull-right">Fallida</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 78 - Sede Central, vel orci pellentesque sapien condimentum <span class="label label-danger pull-right">Fallida</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 81 - Sede Central, bibendum tortor sed metus <span class="label label-danger pull-right">Fallida</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 82 - Sede Central, vulputate ultricies <span class="label label-danger pull-right">Fallida</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 83 - Sede Central, pulvinar quis laoreet sit amet <span class="label label-danger pull-right">Fallida</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 103 - Sede Central, dictum felis eget lacus lobortis <span class="label label-danger pull-right">Fallida</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 112 - Sede Central, non sem tristique, euismod ante adipiscing <span class="label label-danger pull-right">Fallida</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 167 - Sede Central, et dui eu neque vehicula euismod <span class="label label-danger pull-right">Fallida</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 201 - Sede Central, aermentum auctor accumsano <span class="label label-danger pull-right">Fallida</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 204 - Sede Central, vel nibh vitae lacus bibendum ultricies <span class="label label-danger pull-right">Fallida</span><span class="badge pull-right">2/4</span></li>
                </ul>
            </div>

            <div class="tab-pane fade" id="pending">
                <ul>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 10 - Sede Central, alta de un nuevo puesto de trabajo <span class="label label-warning pull-right">Pendiente</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 15 - Sede Central, mauris mauris, lacinia eget tortor <span class="label label-warning pull-right">Pendiente</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 16 - Sede Central, bibendum vulputate turpis <span class="label label-warning pull-right">Pendiente</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 32 - Sede Central, ulputate quis, convallis eget nunc <span class="label label-warning pull-right">Pendiente</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 45 - Sede Central, ut porttitor felis, et adipiscing eros <span class="label label-warning pull-right">Pendiente</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 78 - Sede Central, vel orci pellentesque sapien condimentum <span class="label label-warning pull-right">Pendiente</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 81 - Sede Central, bibendum tortor sed metus <span class="label label-warning pull-right">Pendiente</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 82 - Sede Central, vulputate ultricies <span class="label label-warning pull-right">Pendiente</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 83 - Sede Central, pulvinar quis laoreet sit amet <span class="label label-warning pull-right">Pendiente</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 103 - Sede Central, dictum felis eget lacus lobortis <span class="label label-warning pull-right">Pendiente</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 112 - Sede Central, non sem tristique, euismod ante adipiscing <span class="label label-warning pull-right">Pendiente</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 167 - Sede Central, et dui eu neque vehicula euismod <span class="label label-warning pull-right">Pendiente</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 201 - Sede Central, aermentum auctor accumsano <span class="label label-warning pull-right">Pendiente</span><span class="badge pull-right">2/4</span></li>
                    <li><button class="btn-modal btn btn-info btn-xs"><span class="fa fa-info"></span> Info</button> <span class="fa fa-desktop type-icon"></span> Cambio 204 - Sede Central, vel nibh vitae lacus bibendum ultricies <span class="label label-warning pull-right">Pendiente</span><span class="badge pull-right">2/4</span></li>
                </ul>
            </div>

            <div class="tab-pane fade" id="users">
                <div class="row mb10"><div class="col-xs-12 col-sm-9 col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" id="user-filter" placeholder="Filtra">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id="user-filter-btn" type="button"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                </div></div>
                <div class="row"><div class="col-xs-12 col-sm-12">
                    <ul>
                        <li><a href="/users/"><span class="fa fa-user"></span> Juan Nadie (juannadie)</a> - Sede Central</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Aenean Hendrerit (hendrerit)</a> - Sede Central</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Lorem Ipsum (ipsum)</a> - Sede Central</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Quisque Luctus (qluctus)</a> - Sede Exterior</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Maecenas Id (maecenasid)</a> - Sede Central</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Cras Convallis (convallis)</a> - Sede Exterior</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Etiam Sit (etiamsit)</a> - Sede Central</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Vestibulum Ante (vestibulumante)</a> - Sede Exterior</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Donec Vehicula (dvehicula)</a> - Sede Exterior</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Aenean Hendrerit (hendrerit)</a> - Sede Central</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Lorem Ipsum (ipsum)</a> - Sede Central</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Quisque Luctus (qluctus)</a> - Sede Exterior</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Maecenas Id (maecenasid)</a> - Sede Central</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Cras Convallis (convallis)</a> - Sede Exterior</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Etiam Sit (etiamsit)</a> - Sede Central</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Vestibulum Ante (vestibulumante)</a> - Sede Exterior</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Donec Vehicula (dvehicula)</a> - Sede Exterior</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Aenean Hendrerit (hendrerit)</a> - Sede Central</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Lorem Ipsum (ipsum)</a> - Sede Central</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Quisque Luctus (qluctus)</a> - Sede Exterior</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Maecenas Id (maecenasid)</a> - Sede Central</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Cras Convallis (convallis)</a> - Sede Exterior</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Etiam Sit (etiamsit)</a> - Sede Central</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Vestibulum Ante (vestibulumante)</a> - Sede Exterior</li>
                        <li><a href="/users/"><span class="fa fa-user"></span> Donec Vehicula (dvehicula)</a> - Sede Exterior</li>
                    </ul>
                </div></div>
            </div>
        </div>
    </div></div>

    <div id="task-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Cambio 16 - Sede Central, política, cambio del tema de iconos</h4>
                </div>
                <div class="modal-body"><div class="row">
                        <div class="col-sm-6">
                        <label>Resumen</label>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Ut tempus cursus lacus, eleifend blandit nibh
                        elementum sed. Donec sit amet mollis dolor. Proin elit
                        augue, pulvinar eget aliquet sed, pellentesque rutrum
                        augue.</p>
                        <label>Equipos</label>
                        <ol>
                            <li>Portátil de Juan [juan-laptop]</li>
                            <li>Portátil de Roberto [bob-laptop]</li>
                            <li>Portátil de Anabel [anabel-laptop]</li>
                            <li>Sobremesa del Departamento de Cuentas [cuentas-desktop]</li>
                            <li>Portátil de Lola [lola-laptop]</li>
                        </ol>
                    </div>
                    <div class="col-sm-6">
                        <label>Logs</label>
                        <ul class="list-unstyled">
                            <li>09:12 Comenzado preparativos</li>
                            <li>09:12 Copiando fichero en almacenamiento compartido</li>
                            <li><span class="text-success">09:13 Terminados los preparativos</span></li>
                            <li>09:13 Comenzando a aplicar cambios</li>
                            <li><span class="text-success">09:14 Cambio aplicado en juan-laptop</span></li>
                            <li><span class="text-success">09:14 Cambio aplicado en bob-laptop</span></li>
                            <li><span class="text-danger">09:14 Error al aplicar cambio en anabel-laptop</span></li>
                            <li><span class="text-danger">09:14 Error: file does not exist</span></li>
                            <li><span class="text-danger">09:14 Abortando</span></li>
                        </ul>
                        <p>Progreso: <span class="label label-danger">3 de 5</span></p>
                    </div>
                </div></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function () {
        var modal = $("#task-modal").modal({ show: false });
        $("button.btn-modal").click(function (evt) {
            evt.preventDefault();
            modal.modal("show");
        });

        var filter = function (filter, $elements) {
            var filter = filter.toLowerCase();
            $elements.removeClass("hide");
            $elements.each(function (idx, el) {
                var $el = $(el);
                if ($el.text().toLowerCase().indexOf(filter) < 0) {
                    $el.addClass("hide");
                }
            });
        };
        $("#user-filter").on("keyup", function (evt) {
            var $input = $(evt.target),
                $elements = $input.parents("#users").find("li");
            filter($input.val(), $elements);
        });
        $("#user-filter-btn").click(function (evt) {
            evt.preventDefault();
            var $input = $(evt.target).parents("div.input-group").find("#user-filter"),
                $elements = $input.parents("#users").find("li");
            filter($input.val(), $elements);
        });
    });
</script>
{% endblock %}
