{% extends "base_navbar.jinja2" %}

{% block nav_bar_home %}{% endblock %}
{% block nav_bar_reports %}active{% endblock %}


{% block inner_content %}

 <script type="text/javascript">
//<![CDATA[

function generateReport(type, format) {
    $("#report_type").val(type);
    $("#report_format").val(format);
    $("#report_form").submit();
}


//]]>
</script>


<div class="container">
    <div class="row"><div class="col-sm-12">
        <h1>{{ gettext('Reports') }}</h1>
    </div>
    <form method="get" action="{{ request.route_url('report_file') }}" name="report_form" id="report_form" target="_blank">
        <input type="hidden" name="type" id="report_type" value="" />
        <input type="hidden" name="format" id="report_format" value="" />
      {% if not is_superuser %}
        {% if ou_managed|length == 1 %}
            <input type="hidden" name="ou_id" id="ou_id" value="{{ou_managed[0].id}}" />
        {% else %}
        <div class="row list-group-top">
            <div class="col-sm-6">
                <label for="ou_id" class="select-label">{{ gettext('Please select the Organizational Unit') }}</label>
            </div>
            <div class="col-sm-6">
                <select name="ou_id" id="ou_id">
                  {% for ou in ou_managed %}
                   <option value="{{ou.id}}">{{ou.name}}</option>
                  {% endfor %}                
                </select>
            </div>
        </div>    
        {% endif %}
      {% endif %}
    
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item">{{ gettext('Users') }}
                      <button title="csv" type="button" class="btn btn-default pull-right btn-export"
                        onclick="generateReport('user', 'csv')"
                        ><i class="fa fa-file-excel-o"></i></button>

                      <button title="pdf" type="button" class="btn btn-default pull-right btn-export"
                        onclick="generateReport('user', 'pdf')"
                        ><i class="fa fa-file-pdf-o"></i></button>

                      <button title="www" type="button" class="btn btn-default pull-right btn-export"
                        onclick="generateReport('user', 'html')"
                        ><i class="fa fa-globe"></i></button>

                     </li>
                    <li class="list-group-item">{{ gettext('Workstations') }}
                    
                      <button title="csv" type="button" class="btn btn-default pull-right btn-export"
                        onclick="generateReport('computer', 'csv')"
                        ><i class="fa fa-file-excel-o"></i></button>

                      <button title="pdf" type="button" class="btn btn-default pull-right btn-export"
                        onclick="generateReport('computer', 'pdf')"
                        ><i class="fa fa-file-pdf-o"></i></button>

                      <button title="www" type="button" class="btn btn-default pull-right btn-export"
                        onclick="generateReport('computer', 'html')"
                        ><i class="fa fa-globe"></i></button>
                    
                    </li>
                    <li class="list-group-item">{{ gettext('Printers and related computers') }}
                    
                      <button title="csv" type="button" class="btn btn-default pull-right btn-export"
                        onclick="generateReport('printers', 'csv')"
                        ><i class="fa fa-file-excel-o"></i></button>

                      <button title="pdf" type="button" class="btn btn-default pull-right btn-export"
                        onclick="generateReport('printers', 'pdf')"
                        ><i class="fa fa-file-pdf-o"></i></button>

                      <button title="www" type="button" class="btn btn-default pull-right btn-export"
                        onclick="generateReport('printers', 'html')"
                        ><i class="fa fa-globe"></i></button>
                    
                    </li>
                </ul>
            </div>
        </div>
    </form>
    
    
</div>
{% endblock %}
