{% extends "base_navbar.jinja2" %}

{% block nav_bar_home %}{% endblock %}
{% block nav_bar_reports %}active{% endblock %}


{% block inner_content %}
<div class="container">
    <div class="row"><div class="col-sm-12">
        <h1>{{ gettext('Reports') }}</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group">
                <li class="list-group-item">{{ gettext('Users') }} <a href="{{ request.route_url('report_file', report_type='user') }}" class="btn btn-default pull-right btn-export">{{ gettext('Export to CSV') }}</a></li>
                <li class="list-group-item">{{ gettext('Workstations') }} <a href="{{ request.route_url('report_file', report_type='computer') }}" class="btn btn-default pull-right btn-export">{{ gettext('Export to CSV') }}</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
