<html>
  <head>
    <meta charset="UTF-8">
    <style>
        @page {
            size: A4 landscape;
            margin: 1cm;
            
            @frame header_frame { 
                -pdf-frame-content: header_content;
                left: 50pt; width: 742pt; top: 50pt; height: 40pt;
            }
            @frame content_frame {
                left: 50pt; width: 742pt; top: 90pt; height: 435;
            }
            @frame footer_frame {         
                -pdf-frame-content: footer_content;
                left: 50pt; width: 742pt; top: 525pt; height: 20pt;
            }           
        }

        html * {
            font-size: 11pt;
            font-family: Arial;
        }
        
        #header_content {
            font-size: 14pt;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        table {
            border-left: 1px solid #11686B;
            border-top: 1px solid #11686B;
            width: 100%;
            color: #333;

        }
        
        th, td {
            border-right: 1px solid #11686B;
            border-bottom: 1px solid #11686B;
            padding: 4px;
            overflow: hidden;
        }

        td div.centered {
            text-align:center;
        }

    </style>  
    <script>
    function goto_parent_window(elm) {
      var url = elm.getAttribute('href');
      window.opener.location = url;
      return false;
    }
    </script>
  
  </head>

  <body>
    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content">{{report_title}}</div>

    {% if report_type == 'pdf' %}
    <!-- Content for Static Frame 'footer_frame' -->
    <div id="footer_content">{{page}} <pdf:pagenumber> {{of}} <pdf:pagecount>.</div>
    {% endif %}
  
    <table cellspacing="0">
      <tr>
      {% for header in headers %}
        {% if (widths[loop.index0] > 0) or report_type != 'pdf' %}
         <th style="background-color: #2AABB0; color: #FFFFFF; width: {{ widths[loop.index0] }}%;">{{header}}</th>
        {% endif %}
      {% endfor %}
      </tr>
    
    {% for row in rows %}
      {% if (loop.index0 % 15) == 0 and loop.index0 > 0 and report_type == 'pdf' %}
        </table>
        <pdf:nextpage />
        
        <table cellspacing="0">
          <tr>
          {% for header in headers %}
            {% if widths[loop.index0] > 0 %}
             <th style="background-color: #2AABB0; color: #FFFFFF; width: {{ widths[loop.index0] }}%;">{{header}}</th>
            {% endif %}
          {% endfor %}
          </tr>
      {% endif %}
      
      <tr>
      {% if (loop.index0 % 2) == 0 %}
        {% for col in row %}
            {% if (widths[loop.index0] > 0) or report_type != 'pdf' %}
             <td>{{col|safe}}</td>
            {% endif %}
        {% endfor %}
      {% else %}
        {% for col in row %}
            {% if (widths[loop.index0] > 0) or report_type != 'pdf' %}
             <td style="background-color: #EFEFEF;">{{col|safe}}</td>
            {% endif %}
        {% endfor %}
      {% endif %}
      </tr>
    {% endfor %}
    
    </table>
    
  </body>
<html>
