#admin-container {
    margin-bottom: 35px;
}

#admin-container .pagination {
    margin-top: 0;
}

#admin-container form#deform a,
#admin-container form#deform button,
#admin-edit-actions a,
#admin-edit-actions button {
    margin: 0 2px;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mt20 {
    margin-top: 20px !important;
}

#navbar-header {
    background-color: #2aabb0;
}

.navbar-logo img{
    padding: 4px 0px;
}

.navbar-brand {
    margin-left: 23px;
    padding-left: 15px;
}

.navbar-default .navbar-brand {
    color: #444;
    font-size: 20px;
}

body {
    background-color: #FAFAFA;
}

.page {
    margin: 0 20px;
}

/* TABS */
.nav.nav-tabs li.active a {
    background-color: #FAFAFA;
    border-bottom-color: #FAFAFA;
}

.tab-content .tab-pane {
    padding-top: 10px;
}
/* END TABS */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-right: 30px;
    border-top: 1px solid #DDD;
    background-color: #F5F5F5;
    z-index: 3;
}

#sidebar-right {
    background-color: #DDD;
    height: 100%;
    width: 4px;
    float: right;
    margin-right: -20px;
    text-align: middle;
    overflow: hidden;
}

#sidebar-size-handler {
    cursor:ew-resize;
}

@media (min-width: 768px) {
    #sidebar {
        position: fixed;
        padding-right: 30px;
    }
}

#main-area {
    position: fixed;
    right: 0;
    width: 73%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 30px;
}


/* STAGING AREA */

#commit-changes {
    text-align: right;
}

#commit-changes .btn-warning{
    background-color: #2aabb0;
    border-color: #2aabb0;
}

#commit-changes .btn-warning:hover{
    background-color: #178E92;
}

#staging-modal li.model {
    border-bottom: 1px solid #DDD;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    clear: both;
    min-height: 26px;
}

#staging-modal li.model:last-child {
    border: none;
}

#staging-modal li.model button {
    margin-top: -3px;
}

#staging-modal li.model span.label {
    margin-right: 10px;
}

.nodes-changed li{
    border-bottom: 1px solid #DDD;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    clear: both;
    min-height: 26px;
}

.nodes-changed li span.label{
    margin-right: 10px;
}

/* NAVIGATION TREE */

.tree-dropdown li {
    padding-left: 25px;
}

.tree-dropdown label {
    padding-left: 0px;
}

.dropdown .btn {
    border-radius: 0;
    border-left: 0;
    margin-right: -4px;
}


#tree-selection-info {
    position: fixed;
    padding: 0 30px 0 0;
    z-index: 9;
}

#tree-selection-info div.info {
    margin-right: 17px;
    padding: 5px 15px;
    border-bottom: 1px solid #DDD;
    background-color: white;
}

#nav-tree {
    overflow-y: hidden;
    position: absolute;
    top: 0px;
    bottom: 150px;
    left: 0px;
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
}

#tree-container {
    overflow: auto;
    height: -moz-calc(100% - 55px);
    height: -webkit-calc(100% - 55px);
    height: calc(100% - 55px);
}

#ex-tree {
    width: auto;
    z-index: 1;
}

#nav-tree .tree-extra-options ul.nav {
    margin-left: 35px;
}

#nav-tree .tree-extra-options ul.nav li a {
    padding: 0 0 0 5px;
}

.tree-selection {
    display: none !important;
}

.deleted {
    color: #d9534f !important;
    border-radius: 6px;
}

.modified {
    color: #428bca !important;
    border-radius: 6px;
}

.cut {
    color: #CCC !important;
    border-radius: 6px;
}

.pasted {
    color: rgb(240, 173, 78) !important;
    border-radius: 6px;
}

/* EVENTS */

#events-container { display: inline; }
#events {
    height: 30%;
}

#events.maximize {
    height: auto;
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    z-index: 99;
}

#events.maximize .panel-heading {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#events.maximize .task {
    padding: 5px;
}

#events.maximize .task span.type-icon {
    margin-right: 15px;
}

#events .bootstrap-admin-panel-content {
    overflow-y: auto;
    height: -moz-calc(100% - 55px);
    height: -webkit-calc(100% - 55px);
    height: calc(100% - 55px);
}

#events .task {
    border-bottom: 1px solid #CCC;
    padding: 0 5px;
    overflow: hidden;
}

#events .task:last-child {
    border-bottom: 0;
}

#events .task.success {
    background-color: rgb(164, 240, 161);
}

#events .task.error {
    background-color: rgb(255, 179, 179);
}

#events .task span.badge {
    margin-left: 3px;
    position: relative;
    top: 1px;
}

#events .task>span:last-child {
    position: relative;
    top: 3px;
}

#events .filters {
    font-size: 12px;
    margin-left: 20px;
}

#events .filters .active {
    font-weight: bold;
}

/* MAIN AREA */

#viewport-main {
    padding-bottom: 20px;
}

#viewport-main ul.permissions {
    margin: 0;
    padding: 0;
}

#viewport-main ul.permissions li {
    display: inline-block;
    padding-right: 15px;
}

/* HOME VIEW */

#home-view dl {
    font-size: 1.8em;
}

@media (min-width: 768px) {
    #home-view dl dt {
        width: 240px !important;
    }

    #home-view dl dd {
        margin-left: 260px !important;
    }
}

/* NEW ELEMENT VIEW */

#new-element-view a.thumbnail {
    text-align: center;
    color: white;
    background-color: #666;
    padding-top: 20px;
}

#new-element-view a.thumbnail:hover {
    text-decoration: none;
    border-color: #666;
    -moz-box-shadow: 0 0 2px 2px #666;
    -webkit-box-shadow: 0 0 2px 2px #666;
    box-shadow: 0 0 2px 2px #666;
}

#new-element-view a.thumbnail span {
    font-size: 100px;
}

#new-element-view a.thumbnail p {
    font-size: 25px;
}

/* POLICIES VIEW */

#policies-table tr td:last-child {
    width: 30%;
}

#policies-table tr td:last-child button:first-child {
    margin-left: 8px;
}

#policies-table tr td:last-child button {
    float: right;
}

ul#new-policies li {
    padding: 10px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #CCC;
}

ul#new-policies li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

ul#new-policies li a {
    position: relative;
    top: -8px;
}

/* GROUP VIEWS */

div.selected-groups {
    overflow-x: auto;
}

div.selected-groups span.label {
    margin-right: 5px;
    cursor: pointer;
}

div.groups-widget .chzn-container {
    min-width: 150px;
}

#groups-widget {
    margin-bottom: 30px;
}

.groups-warning-message,
.array-warning-message {
    margin-top: 10px;
}

/* COMPUTERS VIEW */

.info-icon {
    text-align: center;
    font-size: 7em;
}

.info-icon-error {
    color: #999;
}

.info-icon-warning {
    color: #f0ad4e;
}

.info-icon-success {
    color: #5cb85c;
}

.info-icon-danger {
    color: #d9534f;
}

#cut {
    margin-right: 5px;
}

.computer-info dd {
    word-wrap: break-word;
}

/* Pagination */

.pagination span.triple-dot {
    border-top: 0px;
    border-bottom: 0px;
}

.pagination span.triple-dot:hover {
    background-color: transparent;
}

.pagination .extreme-right2 {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

/* User view */

.group.checkbox-inline input{
    margin-bottom: 5px;
}

/* OU view */
#ou .info-icon {
    text-align: center;
    font-size: 4em;
}

/* JSON Forms */
._jsonform-array-ul{
    padding-left: 0;
}

._jsonform-array-ul li{
    margin-bottom: 20px;
}

legend {
    cursor: pointer;
    cursor: hand;
}

/* Reports */

.btn-export {
    padding: 3px 12px;
}

/* Jobs */

.btn.refresh, .btn.archiveTasks {
    margin-right: 3px;
}

.no-admin-message{
    float: right;
    margin-right: 85px;
}

.total {
    color: #428bca;
    margin: 20px 0px;
    padding: 6px 12px;
    font-size: 16px;
}

.fuelux .tree-branch-name .glyphicon {
    margin-right: 3px;
}

.tree-fa:before { 
  content: "\f196";
}


.fuelux .tree .tree-open > .tree-branch-header > .tree-fa:before {
  content: "\f147" !important;
}

.fuelux .tree-json-object .glyphicon-folder-open:before {
    content: "{";
}

.fuelux .tree .tree-json-object.tree-open > .tree-branch-children:after {
    content: "}";
}


.fuelux .tree-json-object .glyphicon-folder-close:before {
  content: "{}";
}

.fuelux .tree-json-array .glyphicon-folder-open:before {
    content: "[";
}

.fuelux .tree .tree-json-array.tree-open > .tree-branch-children:after {
    content: "]";
}

.fuelux .tree .tree-branch.tree-open {
    border-left: 2px solid #cccccc;
}


.fuelux .tree-json-array .glyphicon-folder-close:before {
  content: "[]";
}

.fuelux .tree-json-string:before {
  content: "\"";
}

.fuelux .tree-json-string:after {
  content: "\",";
}

.fuelux .tree-json-string {
  color: #cc0000;
}

#ohai_tree_header {
    margin-bottom: 3px;
}

#ohai_tree {
    height: 500px;
    overflow: auto;
}

#ohai_tree-expand {
    padding-top: 5px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-bottom: 1px !important;
}

#ohai_tree-compress {
    padding-top: 5px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-bottom: 1px !important;
}

#ohai_tree-expand .loading, #ohai_tree-compress .loading {
    display: none;
    height: 27.5px;
    width: 22px;
    padding-top: 2px;
}


#tree_search_setup_drowpdown {
    width: 300px;
}

.dropdown-column {
        padding-right: 5px;
        padding-left: 5px;
}

.dropdown-column:last-child {
    border-left: 1px solid #999999;
}

@media only screen and (max-width: 1200px) {

#nav-tree .panel-heading {
    padding: 10px 5px;
}

#nav-tree .btn {
    padding: 6px 2px;
}

}


.red-text {
    color: #ee0f16;
}

.easyPieChart-text {
    line-height: 1em;
    padding-top: 15px;
}

.yellow-text {
    color: #ffcc00;
}

.green-text {
    color: #34b845;
}

.percentage {
    color: #666666;
    font-size: 0.7em;
}

#my-jobs-heading {
    font-size: 0.8em;
    width: 50%;
    float: left;
}

#my-jobs-total {
    color: #666666;
}

#events_summary {
  position: absolute;
  bottom: 0px;    
  width: -moz-calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);

}

#events_summary .bootstrap-admin-panel-content {
    padding: 5px;
}

#events_summary .bootstrap-admin-panel-content {
    padding: 5px;
}

#events_summary .row {
    margin-left: -5px;
    margin-right: -5px;
}

#events_summary .col-sm-4 {
    padding-left: 0px;
}

#events_summary .chart-bottom-heading {
    font-size: 0.8em;
    color: #666666;
}

.tree-node-flag {
    display: block;
}

.tree-node-folder {
    display: block;
}

.tree-node-user {
    display: block;
}

.tree-node-desktop {
    display: block;
}

.tree-node-print {
    display: block;
}

.tree-node-group {
    display: block;
}

.tree-node-hdd-o {
    display: block;
}

.tree-node-archive {
    display: block;
}

.tree-node-globe {
    display: block;
}

