.mb10 {
    margin-bottom: 10px;
}

.navbar-brand {
    margin-left: 15px;
}

body {
    background-color: #FAFAFA;
}

.page {
    margin: 0 20px;
}

/* TABS */
.nav.nav-tabs li.active a {
    background-color: #FAFAFA;
    border-bottom-color: #FAFAFA;
}

.tab-content .tab-pane {
    padding-top: 10px;
}
/* END TABS */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-right: 30px;
    border-top: 1px solid #DDD;
    background-color: #F5F5F5;
}

@media (min-width: 768px) {
    #sidebar {
        position: fixed;
        padding-right: 30px;
    }
}

#nav-tree {
    height: 70%;
    overflow-y: scroll;
}

#events {
    height: 30%;
}

#events.maximize {
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1100;
    border-radius: 0;
}

#events.maximize .panel-heading {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#viewport-main {
    padding-bottom: 20px;
}

.dashboard a.thumbnail {
    text-align: center;
    color: white;
    background-color: #666;
    padding-top: 20px;
}

.dashboard a.thumbnail:hover {
    text-decoration: none;
    border-color: #666;
    -moz-box-shadow: 0 0 2px 2px #666;
    -webkit-box-shadow: 0 0 2px 2px #666;
    box-shadow: 0 0 2px 2px #666;
}

.dashboard a.thumbnail span {
    font-size: 130px;
}

.dashboard a.thumbnail p {
    font-size: 25px;
}
