.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.navbar-brand {
    margin-left: 15px;
}

body {
    background-color: #FAFAFA;
}

.page {
    margin: 0 20px;
}

/* TABS */
.nav.nav-tabs li.active a {
    background-color: #FAFAFA;
    border-bottom-color: #FAFAFA;
}

.tab-content .tab-pane {
    padding-top: 10px;
}
/* END TABS */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-right: 30px;
    border-top: 1px solid #DDD;
    background-color: #F5F5F5;
}

@media (min-width: 768px) {
    #sidebar {
        position: fixed;
        padding-right: 30px;
    }
}

#nav-tree {
    height: 70%;
    overflow-y: hidden;
}

#tree-container {
    overflow: auto;
    height: -moz-calc(100% - 55px);
    height: -webkit-calc(100% - 55px);
    height: calc(100% - 55px);
}

#ex-tree {
    width: auto;
}

#events {
    height: 30%;
}

#events.maximize {
    height: auto;
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
}

#events.maximize .panel-heading {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#events.maximize .task {
    padding: 5px;
}

#events.maximize .task span.type-icon {
    margin-right: 15px;
}

#events .bootstrap-admin-panel-content {
    overflow-y: auto;
    height: -moz-calc(100% - 55px);
    height: -webkit-calc(100% - 55px);
    height: calc(100% - 55px);
}

#events .task {
    border-bottom: 1px solid #CCC;
    padding: 0 5px;
    overflow: hidden;
}

#events .task:last-child {
    border-bottom: 0;
}

#events .task.success {
    background-color: rgb(164, 240, 161);
}

#events .task.error {
    background-color: rgb(255, 179, 179);
}

#events .task span.badge {
    margin-left: 3px;
    position: relative;
    top: 1px;
}

#events .task>span:last-child {
    position: relative;
    top: 3px;
}

#viewport-main {
    padding-bottom: 20px;
}
