{% extends "base_tree.jinja2" %}

{% block moreheader %}
<style>
    .info-icon {
        margin-top: 25px;
    }

    ul.permissions {
        margin: 0;
        padding: 0;
    }

    ul.permissions li {
        display: inline-block;
        padding-right: 15px;
    }
</style>
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Inicio</a></li>
<li class="active">Puestos de Trabajo</li>
{% endblock %}

{% block main_content %}
<div class="row">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#info" data-toggle="tab">Información</a></li>
        <li><a href="#ohai" data-toggle="tab">Características del puesto</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Puesto de Trabajo</div>
                </div>
                <div class="bootstrap-admin-panel-content dashboard">
                    <form role="form">
                        <div class="row"><div class="col-sm-12">
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <span class="fa fa-info-circle fa-5x info-icon"></span>
                                    </div>
                                    <div class="col-sm-5">
                                        <dl>
                                            <dt>Usuarios que han entrado</dt>
                                            <dd>juan, anabel</dd>
                                            <dt>Uptime</dt>
                                            <dd>7h 12m</dd>
                                        </dl>
                                    </div>
                                    <div class="col-sm-5">
                                        <dl>
                                            <dt>Última ejecución</dt>
                                            <dd><span class="text-warning">Hoy, 9:23:12</span></dd>
                                            <dt>Marca y modelo</dt>
                                            <dd>HP Pavilion 14-b100</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div></div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input id="name" type="text" class="form-control" placeholder="Ej: Portátil de Juan">
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="identifier">Identificador</label>
                                    <input id="identifier" type="text" class="form-control" placeholder="Ej: juan-laptop">
                                </div>
                            </div>
                        </div><div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="ip">IP</label>
                                    <input id="ip" type="text" class="form-control" placeholder="Ej: 192.168.210.134">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="mac">MAC</label>
                                    <input id="mac" type="text" class="form-control" placeholder="Ej: 98:5C:29:31:CF:07">
                                </div>
                            </div>
                            <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="type">Tipo</label>
                                    <select id="type" class="form-control">
                                        <option value="DESKTOP">Sobremesa</option>
                                        <option value="LAPTOP">Portátil</option>
                                        <option value="NETBOOK">Netbook</option>
                                        <option value="TABLET">Tableta</option>
                                    </select>
                                </div>
                            </div>
                        </div><div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="serial">Nº de Serie</label>
                                    <input id="serial" type="text" class="form-control" placeholder="Ej: SN1234567890ABC">
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="registry">Nº de Registro</label>
                                    <input id="registry" type="text" class="form-control" placeholder="Ej: JDA123DEP03">
                                </div>
                            </div>
                        </div>
                        <div class="row bootstrap-admin-light-padding-bottom">
                            <div class="col-sm-4">
                                <label>Permisos (Grupos):</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="permission-filter" placeholder="Filtra">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" id="permission-filter-btn" type="button"><span class="fa fa-search"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row"><div class="col-sm-12">
                            <div class="well"><ul class="permissions">
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm0" value="option1"> Lorem
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm1" value="option1"> Ipsum
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm2" value="option1"> Dolor
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm3" value="option1"> Sit amet
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm4" value="option1"> Consectetur
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm5" value="option1"> Adipiscing
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm6" value="option1"> Elit
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm7" value="option1"> Etiam
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm8" value="option1"> Hendrerit
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm9" value="option1"> Scelerisque
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm10" value="option1"> Lorem
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm11" value="option1"> Ipsum
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm12" value="option1"> Dolor
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm13" value="option1"> Sit amet
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm14" value="option1"> Consectetur
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm15" value="option1"> Adipiscing
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm16" value="option1"> Elit
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm17" value="option1"> Etiam
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm18" value="option1"> Hendrerit
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm19" value="option1"> Scelerisque
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm20" value="option1"> Lorem
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm21" value="option1"> Ipsum
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm22" value="option1"> Dolor
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm23" value="option1"> Sit amet
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm24" value="option1"> Consectetur
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm25" value="option1"> Adipiscing
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm26" value="option1"> Elit
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm27" value="option1"> Etiam
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm28" value="option1"> Hendrerit
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm29" value="option1"> Scelerisque
                                </label></li>
                            </ul></div>
                        </div></div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="extra">Información extra</label>
                                    <textarea id="extra" class="form-control" rows="6"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row"><div class="col-sm-12">
                            <a href="/" class="btn btn-default">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div></div>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="ohai">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Características del puesto (Ohai)</div>
                </div>
                <div class="bootstrap-admin-panel-content dashboard">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4"><div class="form-group">
                                <label>CPU</label>
                                <p class="form-control-static">Intel i5 4200H (2 cores)</p>
                            </div></div>
                            <div class="col-xs-12 col-sm-4"><div class="form-group">
                                <label>RAM</label>
                                <p class="form-control-static">Kingston DDR3 1333 (4GB, 1 slot)</p>
                            </div></div>
                            <div class="col-xs-12 col-sm-4"><div class="form-group">
                                <label>Tarjeta Gráfica</label>
                                <p class="form-control-static">Intel HD 4600</p>
                            </div></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6"><div class="form-group">
                                <label>Disco Duro 1</label>
                                <p class="form-control-static mb10">Samsung 840 (250GB)</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span>60% usado</span>
                                    </div>
                                </div>
                            </div></div>
                            <div class="col-xs-12 col-sm-6"><div class="form-group">
                                <label>Disco Duro 2</label>
                                <p class="form-control-static mb10">Seagate 7200 SATA3 (1TB)</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width: 23%;">
                                        <span>23% usado</span>
                                    </div>
                                </div>
                            </div></div>
                        </div>
                    </form>
                    <div class="row"><div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a id="ohai-json" data-toggle="collapse" href="#collapseOne">
                                        <span class="fa fa-caret-right"></span> JSON completo devuelto por OHAI
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <pre>[
    {
        "id": 0,
        "guid": "b395e33e-336f-4dd7-a8d9-8a95b4d10e11",
        "isActive": true,
        "balance": "$3,156.00",
        "picture": "http://placehold.it/32x32",
        "age": 27,
        "name": "Lesley Hoffman",
        "gender": "female",
        "company": "Klugger",
        "email": "lesleyhoffman@klugger.com",
        "phone": "+1 (985) 599-3545",
        "address": "259 Conover Street, Leroy, North Dakota, 215",
        "about": "Qui tempor ullamco ad consectetur irure incididunt commodo sint fugiat. Commodo labore culpa quis aliquip voluptate officia nisi eiusmod mollit laborum duis. Commodo voluptate proident labore duis veniam nostrud sunt eiusmod do culpa. Laboris culpa officia commodo elit consequat dolore nulla in ea in qui.\r\n",
        "registered": "2002-12-19T01:04:45 -01:00",
        "latitude": 31.172473,
        "longitude": 11.874995,
        "tags": [
            "eiusmod",
            "elit",
            "consectetur",
            "cillum",
            "enim",
            "consectetur",
            "exercitation"
        ],
        "friends": [
            {
                "id": 0,
                "name": "Betty Graham"
            },
            {
                "id": 1,
                "name": "Pittman Daniel"
            },
            {
                "id": 2,
                "name": "Lynch Montgomery"
            }
        ],
        "randomArrayItem": "apple"
    },
    {
        "id": 1,
        "guid": "c6c2a0e2-15de-42c6-ade5-33416c815189",
        "isActive": false,
        "balance": "$1,026.00",
        "picture": "http://placehold.it/32x32",
        "age": 39,
        "name": "Carroll Rowland",
        "gender": "male",
        "company": "Opticall",
        "email": "carrollrowland@opticall.com",
        "phone": "+1 (990) 410-2984",
        "address": "812 Canal Avenue, Goldfield, Georgia, 5002",
        "about": "Exercitation cillum Lorem aliqua deserunt irure amet exercitation velit proident id. In ad dolor ea cupidatat consequat ullamco duis. Proident mollit anim consectetur ad consectetur incididunt id laborum labore sint consequat amet. Anim ipsum deserunt ex consectetur enim adipisicing officia sit duis laborum voluptate sint.\r\n",
        "registered": "2011-03-27T07:35:03 -02:00",
        "latitude": -87.678871,
        "longitude": 36.558914,
        "tags": [
            "qui",
            "cupidatat",
            "fugiat",
            "adipisicing",
            "elit",
            "nisi",
            "labore"
        ],
        "friends": [
            {
                "id": 0,
                "name": "Tabitha Gross"
            },
            {
                "id": 1,
                "name": "Barnett Durham"
            },
            {
                "id": 2,
                "name": "Norton Cotton"
            }
        ],
        "randomArrayItem": "cherry"
    },
    {
        "id": 2,
        "guid": "8e12e99e-f339-4324-811b-8ed9d2f33408",
        "isActive": true,
        "balance": "$3,661.00",
        "picture": "http://placehold.it/32x32",
        "age": 24,
        "name": "Flora Berger",
        "gender": "female",
        "company": "Zillacom",
        "email": "floraberger@zillacom.com",
        "phone": "+1 (853) 581-3641",
        "address": "539 Banner Avenue, Chase, North Carolina, 8821",
        "about": "Quis anim velit adipisicing excepteur laboris veniam enim aliqua qui duis. Esse do cillum proident deserunt fugiat id dolor occaecat excepteur nostrud aute dolor eu non. Exercitation anim est aliqua eu sit. Ut duis cillum non in anim cupidatat ut proident laborum elit. Sint duis sint voluptate ea culpa est.\r\n",
        "registered": "1998-03-17T14:40:19 -01:00",
        "latitude": 26.425646,
        "longitude": 146.658595,
        "tags": [
            "quis",
            "esse",
            "aute",
            "proident",
            "do",
            "consequat",
            "est"
        ],
        "friends": [
            {
                "id": 0,
                "name": "Bass Joseph"
            },
            {
                "id": 1,
                "name": "Emily Moss"
            },
            {
                "id": 2,
                "name": "Simone Stevenson"
            }
        ],
        "randomArrayItem": "apple"
    }
]</pre>
                                </div>
                            </div>
                        </div>
                    </div></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block morejs %}
<script>
    $(document).ready(function () {
        var permissionFilter = function (filter) {
            $("label.permission").each(function (index, label) {
                var $label = $(label),
                    filterReady = filter.trim().toLowerCase(),
                    text = $label.text().trim().toLowerCase();
                if (filterReady.length === 0 || text.indexOf(filterReady) >= 0) {
                    $label.parent().show();
                } else {
                    $label.parent().hide();
                }
            });
        };

        $("#permission-filter").on("keyup", function (evt) {
            permissionFilter($(evt.target).val());
        });
        $("#permission-filter-btn").on("click", function (evt) {
            permissionFilter($(evt.target).parents('div.input-group').find("input").val());
        });

        $("#ohai-json").click(function (evt) {
            var $el = $(evt.target).find("span.fa");
            $el.toggleClass("fa-caret-right").toggleClass("fa-caret-down");
        });
    });
</script>
{% endblock %}
