{% extends "base_tree.jinja2" %}

{% block morejs %}

<script>
    $(document).ready(function () {
        /* Table initialisation */
        $('#policies-table').dataTable({
            "sDom": "<'row'<'col-md-8'l><'col-md-4'f>r>t<'row'<'col-md-8'i><'col-md-4'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ registros por página",
                "oAria": {
                    "sSortAscending": ": activar para odernar ascendentemente la columna",
                    "sSortDescending": ": activar para odernar descendentemente la columna"
                },
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sPrevious": "Anterior",
                    "sNext": "Siguiente"
                },
                "sEmptyTable": "No hay datos disponibles en la tabla",
                "sInfo": "Mostrando de _START_ a _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando de 0 a 0 de 0 registros",
                "sInfoFiltered": "(filtrados de un total de _MAX_ registros)",
                // "sInfoPostFix": "All records shown are derived from real information.",
                // "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "sProcessing": "Procesando...",
                "sSearch": "Buscar:",
                // "sUrl": "http://www.sprymedia.co.uk/dataTables/lang.txt",
                "sZeroRecords": "Ningún registro que encaje encontrado"
            }
        });

        var modal = $("#add-policy-modal").modal({ show: false });
        $("#add-policy").click(function (evt) {
            evt.preventDefault();
            modal.modal("show");
        });

        var filterPolicies = function (value) {
            var $elems = $("#new-policies li"),
                filter = value.toLowerCase();
            $elems.removeClass("hide");
            $elems.each(function (idx, el) {
                var $el = $(el);
                if ($el.text().toLowerCase().indexOf(value) < 0) {
                    $el.addClass("hide");
                }
            });
        };

        $("#newpolicy-filter").on("keyup", function (evt) {
            filterPolicies($(evt.target).val());
        });
        $("#newpolicy-filter-btn").on("click", function (evt) {
            evt.preventDefault();
            filterPolicies($(evt.target).parents(".input-group").find("#newpolicy-filter").val());
        });
    });
</script>
{% endblock %}
