{% extends "base_tree.jinja2" %}

{% block moreheader %}
<style>
    ul.permissions {
        margin: 0;
        padding: 0;
    }

    ul.permissions li {
        display: inline-block;
        padding-right: 15px;
    }
</style>
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Inicio</a></li>
<li class="active">Unidades Organizativas</li>
{% endblock %}

{% block main_content %}
<div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#info" data-toggle="tab">Información</a></li>
        <li><a href="#policies" data-toggle="tab">Políticas</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Unidad Organizativa</div>
                </div>
                <div class="bootstrap-admin-panel-content dashboard">
                    <form role="form">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input id="name" type="text" class="form-control" placeholder="Ej: Departamento de Testing">
                                </div>
                            </div>
                        </div>
                        <div class="row bootstrap-admin-light-padding-bottom">
                            <div class="col-sm-4">
                                <label>Permisos:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="permission-filter" placeholder="Filtra">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" id="permission-filter-btn" type="button"><span class="fa fa-search"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row"><div class="col-sm-12">
                            <div class="well"><ul class="permissions">
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm0" value="option1"> Lorem
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm1" value="option1"> Ipsum
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm2" value="option1"> Dolor
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm3" value="option1"> Sit amet
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm4" value="option1"> Consectetur
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm5" value="option1"> Adipiscing
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm6" value="option1"> Elit
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm7" value="option1"> Etiam
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm8" value="option1"> Hendrerit
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm9" value="option1"> Scelerisque
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm10" value="option1"> Lorem
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm11" value="option1"> Ipsum
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm12" value="option1"> Dolor
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm13" value="option1"> Sit amet
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm14" value="option1"> Consectetur
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm15" value="option1"> Adipiscing
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm16" value="option1"> Elit
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm17" value="option1"> Etiam
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm18" value="option1"> Hendrerit
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm19" value="option1"> Scelerisque
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm20" value="option1"> Lorem
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm21" value="option1"> Ipsum
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm22" value="option1"> Dolor
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm23" value="option1"> Sit amet
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm24" value="option1"> Consectetur
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm25" value="option1"> Adipiscing
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm26" value="option1"> Elit
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm27" value="option1"> Etiam
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm28" value="option1"> Hendrerit
                                </label></li>
                                <li><label class="permission checkbox-inline">
                                    <input type="checkbox" id="perm29" value="option1"> Scelerisque
                                </label></li>
                            </ul></div>
                        </div></div>
                        <div class="row"><div class="col-sm-12">
                            <a href="/" class="btn btn-default">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div></div>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="policies">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Políticas</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <table class="table table-striped table-bordered" id="policies-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd">
                                <td>Fondo de pantalla</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>Borde de las ventanas</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td>Sonidos del escritorio</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>Salvapantallas</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td>Tema de iconos</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>Integer metus quam</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td>Nam egestas, mauris</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>Aliquam eleifend sollicitudin</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td>Etiam viverra eu odio</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>Nullam dictum libero vulputate turpis aliquam</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td>Donec faucibus ligula vitae arcu varius congue</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>Pellentesque adipiscing nisl a nibh</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td>Duis consectetur mollis urna</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>Etiam hendrerit</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td>Sed et magna quam</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>Integer at nibh congue</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td>Nam viverra rhoncus lorem</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>Mauris erat nulla</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td>Nullam nec suscipit massa</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>Fusce ac mauris eu augue</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td>Sed viverra, mi ac viverra fringilla</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>Proin accumsan eu enim vel congue</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="fa fa-times"></span> Borrar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <a href="#" class="btn btn-primary"><span class="fa fa-plus"></span> Añadir</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block morejs %}
<script src="{{request.application_url}}/static/js/libs/jquery.dataTables-1.9.4.min.js"></script>
<script src="{{request.application_url}}/static/js/libs/DT_bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $($(".tree-item-name")[1]).trigger("click");
        }, 1000);

        var permissionFilter = function (filter) {
            $("label.permission").each(function (index, label) {
                var $label = $(label),
                    filterReady = filter.trim().toLowerCase(),
                    text = $label.text().trim().toLowerCase();
                if (filterReady.length === 0 || text.indexOf(filterReady) >= 0) {
                    $label.parent().show();
                } else {
                    $label.parent().hide();
                }
            });
        };

        $("#permission-filter").on("keyup", function (evt) {
            permissionFilter($(evt.target).val());
        });
        $("#permission-filter-btn").on("click", function (evt) {
            permissionFilter($(evt.target).parents('div.input-group').find("input").val());
        });

        /* Table initialisation */
        $('#policies-table').dataTable({
            "sDom": "<'row'<'col-md-8'l><'col-md-4'f>r>t<'row'<'col-md-8'i><'col-md-4'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ registros por página",
                "oAria": {
                    "sSortAscending": ": activar para odernar ascendentemente la columna",
                    "sSortDescending": ": activar para odernar descendentemente la columna"
                },
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sPrevious": "Anterior",
                    "sNext": "Siguiente"
                },
                "sEmptyTable": "No hay datos disponibles en la tabla",
                "sInfo": "Mostrando de _START_ a _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando de 0 a 0 de 0 registros",
                "sInfoFiltered": "(filtrados de un total de _MAX_ registros)",
                // "sInfoPostFix": "All records shown are derived from real information.",
                // "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "sProcessing": "Procesando...",
                "sSearch": "Buscar:",
                // "sUrl": "http://www.sprymedia.co.uk/dataTables/lang.txt",
                "sZeroRecords": "Ningún registro que encaje encontrado"
            }
        });
    });
</script>
{% endblock %}
