{% extends "base_tree.jinja2" %}

{% block moreheader %}
<style>
    table td {
        vertical-align: middle !important;
    }
</style>
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Inicio</a></li>
<li><a href="/ous/">Unidades Organizativas</a></li>
<li class="active">Políticas</li>
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="text-muted bootstrap-admin-box-title">Política - Acceso a almacenamiento remoto</div>
        </div>
        <div class="bootstrap-admin-panel-content dashboard">
            <form role="form">
                <div class="row"><div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input id="name" type="text" class="form-control" placeholder="Ej: Acceso al almacenamiento en red A01">
                    </div>
                </div></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="connect">Cadena de conexión</label>
                            <input id="connect" type="text" class="form-control" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 col-xs-12">
                        <div class="form-group">
                            <label for="server">Servidor</label>
                            <input id="server" type="text" class="form-control" placeholder="Ej: 192.168.12.078">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="port">Puerto</label>
                            <input id="port" type="number" step="1" min="0" max="65535" class="form-control" placeholder="Ej: 9100">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="type">Tipo de servidor</label>
                            <select id="type" class="form-control">
                                <option value="ftp">FTP</option>
                                <option value="ssh">SSHFS</option>
                                <option value="nfs">NFS</option>
                                <option selected="" value="smb">SAMBA v3</option>
                                <option value="smb">SAMBA v4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="path">Nombre de directorio local</label>
                            <input id="path" type="text" class="form-control" placeholder="Ej: /ruta/al/directorio">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="mount">Montaje</label>
                            <select id="mount" class="form-control">
                                <option selected="" value="fstab">En arranque (fstab)</option>
                                <option value="gvfs">En entorno usuario (gvfs)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="extraops">Opciones Extra</label>
                            <input id="extraops" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="user">Usuario</label>
                            <input id="user" type="text" class="form-control" placeholder="Ej: juan">
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="passwd">Contraseña</label>
                            <input id="passwd" type="password" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row"><div class="col-sm-12">
                    <a href="/ous/" class="btn btn-default">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block morejs %}
<script src="{{request.application_url}}/static/js/libs/jquery.dataTables-1.9.4.min.js"></script>
<script src="{{request.application_url}}/static/js/libs/DT_bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        var updateConnect = function () {
            var connect = $("#type").val() + "://";
            connect += $("#user").val() + '@';
            connect += $("#server").val() + ':';
            connect += $("#port").val() + ':';
            connect += $("#path").val();
            connect += " " + $("#extraops").val();
            $("#connect").val(connect);
        };

        $("form").on("keyup", updateConnect);
        $("#type").on("change", updateConnect);
        $("#port").on("change", updateConnect);
    });
</script>
{% endblock %}
