{% extends "admins/add.jinja2" %}


{% block form_content %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ gettext("If you don't fill the password fields, these won't be updated") }}
    </div>
    {{ super() }}
{% endblock %}


{% block breadcrumbs %}
    <ol class="breadcrumb">
        {% if request.user.get('is_superuser') %}
            <li><a href="{{ request.route_url('admins') }}">{{ gettext('Administrators') }}</a></li>
        {% endif %}
        <li class="active">{{ gettext('Edit %(username)s', username=username) }}</li>
    </ol>
{% endblock %}

{% block inner_content %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ request.route_url('admins_set_variables', username=username) }}" class="btn btn-primary pull-right"><span class="fa"></span> {{ gettext('Set variables') }}</a>
                {% if request.user.get('is_superuser') %}
                    <form method="POST" accept-charset="utf-8" role="form" action="{{ request.route_url('admins_superuser', username=username) }}">
                        {% if not instance.get('is_superuser') %}
                            <button id="deform_submit" name="_superuser" type="submit" class="btn btn-primary pull-right" value="_submit">
                                {{ gettext('Set like superuser') }}
                            </button>
                        {% else %}
                            <button id="deform_submit" name="_no_superuser" type="submit" class="btn btn-primary pull-right" value="_submit">
                                {{ gettext('Remove like superuser') }}
                            </button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        (function($){
            $(document).ready(function () {
                $("#deform_delete").click(function(){
                    GecosUtils.askConfirmation({
                        'message': "{{ gettext('Are you sure that you want to delete this user?') }}",
                        'callback': function () {
                            $.ajax("{{ request.route_url('admin_delete') }}?username={{ username }}",
                                   {"type": "DELETE"}).done(function() {
                                window.location = "{{ request.route_url('admins') }}";
                            });
                        }
                    });
                });
            });
        })(jQuery);
    </script>
{% endblock %}