{% extends "admins/add.jinja2" %}


{% block form_content %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ gettext("If you don't fill the password fields, these won't be updated") }}
    </div>
    {{ super() }}
{% endblock %}


{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ request.route_url('admins') }}">{{ gettext('Administrators') }}</a></li>
        <li class="active">{{ gettext('Edit %(username)s', username=username) }}</li>
    </ol>
{% endblock %}

{% block inner_content %}
    {{ super() }}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        (function($){
            $(document).ready(function () {
                $("#deform_delete").click(function(){
                    GecosUtils.askConfirmation({
                        'message': "{{ gettext('Are you sure that you want to delete this user?') }}",
                        'callback': function () {
                            $.ajax("{{ request.route_url('admin_delete') }}?username={{ username }}",
                                   {"type": "DELETE"}).done(function() {
                                window.location = "{{ request.route_url('admins') }}";
                            });
                        }
                    });
                });
            });
        })(jQuery);
    </script>
{% endblock %}