{% extends "base_navbar.jinja2" %}

{% block nav_bar_home %}{% endblock %}
{% block nav_bar_admins %}active{% endblock %}

{% block inner_content %}
    <div class="container" id="admin-container">
        <h1>{{ gettext('Administrators') }}</h1>
        {% block breadcrumbs %}
            <ol class="breadcrumb">
                {% if request.user.get('is_superuser') %}
                    <li><a href="{{ request.route_url('admins') }}">{{ gettext('Administrators') }}</a></li>
                {% endif %}
                <li><a href="{{ request.route_url('admins_edit', username=username) }}">{{ gettext('Edit %(username)s', username=username) }}</a></li>
                <li class="active">{{ gettext('Set Organitation Unit managed by this user') }}</li>
            </ol>
        {% endblock %}
        {% block form_content %}
            {{ ou_manage_form|safe }}
        {% endblock %}
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        (function($){
            $(document).ready(function () {
                $(document).on("change", "#deform select", function(){
                    var that = $(this);
                    var ajaxURL = "/ou/list/?ou_id=" +  that.val();
                    $.ajax({"url": ajaxURL,
                            "success": function (response) {
                                that.nextUntil("p").remove();
                                if (response.length > 0) {
                                    var html = "<select class='form-control' name=" + that.attr("name") +">";
                                    var i;
                                    html += "<option value=\"\">{{ gettext('Select an Organisational Unit') }}</option>";
                                    for (i in response) {
                                        var ou = response[i];
                                        html += "<option value=\""+ ou["_id"] +"\">" + ou["name"] + "</option>";
                                    }
                                    html += "</select>";
                                    $(html).insertAfter(that);
                                }
                            }
                    });
                });

                $(document).on("click", "#deform input[value='MANAGE'][type=checkbox]", function(){
                    var that = $(this);
                    var read = that.closest("div").find("input[value='READONLY'][type=checkbox]");
                    if (that.is(":checked")) {
                        read.prop("checked", false);
                        read.prop("disabled", true);
                    } else {
                        read.prop("disabled", false);
                    }
                });

                $(document).on("click", "#deform input[value='READONLY'][type=checkbox]", function(){
                    var that = $(this);
                    var read = that.closest("div").find("input[value='MANAGE'][type=checkbox]");
                    if (that.is(":checked")) {
                        read.prop("checked", false);
                        read.prop("disabled", true);
                    } else {
                        read.prop("disabled", false);
                    }
                });
            });
        })(jQuery);
    </script>
{% endblock %}
