{% extends "base_navbar.jinja2" %}

{% block nav_bar_home %}{% endblock %}
{% block nav_bar_admins %}active{% endblock %}

{% block inner_content %}
<div class="container" id="admin-container">
    <h1>{{ gettext('Statistics') }}</h1>
    {% block breadcrumbs %}
        <ol class="breadcrumb" class="pull-right">
            <li class="active">{{ gettext('Statistics') }}</li>
        </ol>
    {% endblock %}

    <div class="row">
        <div class="row list-group-top">
            <form method="GET" role="form" class="form-inline row">
                <div class="col-md-3">
                    <label for="ou_id" class="select-label">{{ gettext('Please select the Organizational Unit') }}</label>
                </div>
                <div class="col-md-3">
                <select name="ou_id" id="ou_id" class="col-md-3 form-control" onchange="this.form.submit()">
                    {% for oid in ou_managed %}
                        <option value="{{oid}}" {% if ou_selected == oid|string %} selected {% endif %}>{{ou_managed[oid]}}</option>
                    {% endfor %}
                </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row" id="statistics">
        <div class="col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ gettext('Object Type') }}</th>
                        <th alignt=right>{{ gettext('Count') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for counter in object_counters %}
                        <tr>
                            <td>{{ counter._id }}</td>
                            <td align=right>{{ counter.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
        <div class="col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ gettext('Policy') }}</th>
                        <th align=right>{{ gettext('Times Used') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for counter in policy_counters %}
                        <tr>
                            <td>{{ counter[0] }}</td>
                            <td align=right>{{ counter[1] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
