{% extends "base_navbar.jinja2" %}

{% block nav_bar_home %}{% endblock %}
{% block nav_bar_admins %}active{% endblock %}

{% block inner_content %}

<script type="text/javascript">
//<![CDATA[
    function sorting(field, el) {
        var icon = $(el).children();

        if (icon.hasClass('fa-sort-up')) {
            $("#order").val('desc');
	} else {
	    $("#order").val('asc');
	}

        $("#orderby").val(field);
	$("#sort_form").submit();
    }
//]]>
</script>

<div class="container" id="admin-container">
    <h1>{{ gettext('Updates') }}</h1>
    {% block breadcrumbs %}
        <ol class="breadcrumb" class="pull-right">
            <li class="active">{{ gettext('Updates') }}</li>
        </ol>
    {% endblock %}
    <div class="row"> 
        <div class="col-sm-6 col-sm-offset-6 col-lg-4 col-lg-offset-8">
            <form method="GET" role="form">
                <div class="input-group  item-username" title="" id="item-deformField1">
                    <input type="text" name="q" value="{{ request.GET.get('q', '') }}" class="form-control" placeholder="{{ gettext('Search for filename') }}">
                    <span class="input-group-btn">
                        <button id="updates-search-btn" class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="updates">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <form method="GET" role="form" name="sort_form" id="sort_form">
                        <input type="hidden" name="orderby" id="orderby" value="" />
                        <input type="hidden" name="order" id="order" value="" />
                        <input type="hidden" name="q" id="q" value="{{ request.GET.get('q', '') }}" />
                    </form>
                    <tr>
                        <th onclick="sorting('_id', this);" style="cursor:pointer;">{{ gettext('Sequence') }}
                            {% if request.GET.get('orderby') == '_id' %}
                                <i class="fa fa-fw {% if request.GET.get('order') == 'asc' %} fa-sort-up {% else %} fa-sort-down {% endif %}">
                            {% else %}
                                <i class="fa fa-fw fa-sort">
                            {% endif %}
                        </th>
                        <th onclick="sorting('name', this);" style="cursor:pointer;">{{ gettext('Name') }}
                            {% if request.GET.get('orderby') == 'name' %}
                                <i class="fa fa-fw {% if request.GET.get('order') == 'asc' %} fa-sort-up {% else %} fa-sort-down {% endif %}">
                            {% else %}
                                <i class="fa fa-fw fa-sort">
                            {% endif %}
                        </th>
                        <th onclick="sorting('log', this);" style="cursor:pointer;">{{ gettext('Update Log') }}
                            {% if request.GET.get('orderby') == 'log' %}
                                <i class="fa fa-fw {% if request.GET.get('order') == 'asc' %} fa-sort-up {% else %} fa-sort-down {% endif %}">
                            {% else %}
                                <i class="fa fa-fw fa-sort">
                            {% endif %}
                        </th>
                        <th>{{ gettext('Rollback Log') }}</th>
                        <th>{{ gettext('Control File') }}</th>
                        <th>{{ gettext('State') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for update in updates %}
                        <tr>
                            <td>{{ update._id }}</td>
                            <td><a href="{{ request.route_url('updates_download', id=update._id) }}">{{ update.name }}</a></td>
                            <td>
                                <ul class="list-inline">
                                    <li> 
                                        <div data-toggle="tooltip" 
                                           data-placement="top" 
                                           title="{{ gettext('Date') }}">
                                               <span class="fa fa-clock-o"></span> {{ update.timestamp|datetime }}
                                        </div>
                                    </li>
                                    <li>
                                        <div data-toggle="tooltip"
                                           data-placement="top" 
                                           title="{{ gettext('User') }}">
                                               <span class="fa fa-user"></span> {{ update.user }}
                                        </div> 
                                    </li>
                                    <li>
                                        <a data-toggle="tooltip" 
                                           data-placement="top" 
                                           title="{{ gettext('View') }}" 
                                           style="text-decoration:none" 
                                           href="{{ request.route_url('updates_tail', sequence=update._id) }}">
                                               <span class="fa fa-file"></span> 
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tooltip" 
                                          data-placement="top"
                                          title="{{ gettext('Download') }}" 
                                          style="text-decoration:none" 
                                          href="{{ request.route_url('updates_log', sequence=update._id) }}">
                                               <span class="fa fa-download"></span> 
                                        </a>
                                    </li>
                                </ul>
                            </td>

                            <td>
                                <ul class="list-inline">
                                {% if update.get('rollback') %}
                                    <li>
                                        <div data-toggle="tooltip"
                                           data-placement="top"
                                           title="{{ gettext('Date') }}">
                                               <span class="fa fa-clock-o"></span> {{ update.timestamp_rollback|datetime }}
                                        </div>
                                    </li>
                                    <li>
                                        <div data-toggle="tooltip"
                                           data-placement="top" 
                                           title="{{ gettext('User') }}">
                                              <span class="fa fa-user"></span> {{ update.rolluser }}
                                        </div>
                                    </li>
                                    <li>
                                        <a data-toggle="tooltip"
                                           data-placement="top" 
                                           title="{{ gettext('View') }}" 
                                           style="text-decoration:none" 
                                           href="{{ request.route_url('updates_tail', sequence=update._id, rollback='rollback') }}">
                                               <span class="fa fa-file"></span>
                                       </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tooltip" 
                                           data-placement="top"
                                           title="{{ gettext('Download') }}" 
                                           style="text-decoration:none" 
                                           href="{{ request.route_url('updates_log', sequence=update._id, rollback='rollback') }}">
                                               <span class="fa fa-download"></span>
                                        </a>
                                    </li>
                                {% else %}
                                    {% if latest==update._id or not update._id|regex_match('^[0-9]{4}$') %}
                                    <li>
                                        <a class="btn btn-danger btn-xs"
                                           href="{{ request.route_url('updates_tail', sequence=update._id, rollback='rollback') }}"> {{ gettext('Rollback') }}
                                        </a>                                
                                    </li>
                                    {% endif %}
                                {% endif %}
                                </ul>
                            </td>

                            <td>
                                <div>
                                    <a data-toggle="tooltip" 
                                       data-placement="top"
                                       style="text-decoration:none;"
                                       title="{{ include_file(controlfile|format(update._id))}}">
                                           <span class="fa fa-hand-o-right"></span> {{ gettext('Hover here') }}
                                    </a>
                                </div>
                            </td>

                            <td>
                            {% if update.get('state') %}
                                <span data-toggle="tooltip" 
                                      data-placement="top"
                                      title="{{ gettext('Updated finished unsuccessfully') }}"
                                      class="fa fa-times" 
                                      style="color:red;"></span>
                            {% else %}
                                <span data-toggle="tooltip"
                                      data-placement="top"
                                      title="{{ gettext('Updated finished succesfully') }}"
                                      class="fa fa-check" 
                                      style="color:green;"></span>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="{{ request.route_url('updates_add') }}" class="btn btn-primary"><span class="fa fa-upload"></span> {{ gettext('Execute update') }}</a>
        </div>
        <div class="col-sm-6">
            <ul class="pagination pull-right">
                {{ page.pager() }}
            </ul>
        </div>
    </div>
{% endblock %}
