{% extends "base_navbar.jinja2" %}

{% block nav_bar_home %}{% endblock %}
{% block nav_bar_admins %}active{% endblock %}

{% block inner_content %}
<div class="container" id="admin-container">
    <h1>{{ gettext('Updates') }}</h1>
    {% block breadcrumbs %}
        <ol class="breadcrumb" class="pull-right">
            <li class="active">{{ gettext('Updates') }}</li>
        </ol>
    {% endblock %}
    <div class="row"> 
        <div class="col-sm-6 col-sm-offset-6 col-lg-4 col-lg-offset-8">
            <form method="GET" role="form">
                <div class="input-group  item-username" title="" id="item-deformField1">
                    <input type="text" name="q" value="{{ request.GET.get('q', '') }}" class="form-control" placeholder="{{ gettext('Search for name') }}">
                    <span class="input-group-btn">
                        <button id="updates-search-btn" class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="users">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ gettext('Sequence') }}</th>
                        <th>{{ gettext('Name') }}</th>
                        <th>{{ gettext('Path') }}</th>
                        <th>{{ gettext('Date') }}</th>
                        <th>{{ gettext('Is rollback?') }}</th>
                        <th>{{ gettext('Rollback Log') }}</th>
                        <th>{{ gettext('Update Log') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for update in updates %}
                        <tr>
                            <td>{{ update._id }}</td>
                            <td>{{ update.name }}</td>
                            <td>{{ update.path }}</td>
                            <td>{{ update.timestamp | datetime }}</td>

                            {% if update.get('rollback') %}
                                <td>
                                    {{ gettext('Yes') }}
                                </td>
                                <td>
                                    <a style="padding: 0 3px" href="{{ request.route_url('updates_tail', sequence=update._id, rollback='rollback') }}"><span class="fa fa-file"></span> {{ gettext('View') }}</a>
                                    <a style="padding: 0 3px" href="{{ request.route_url('updates_log', sequence=update._id, rollback='rollback') }}"><span class="fa fa-download"></span> {{ gettext('Download') }}</a>
                                </td>
                            {% else %}
                                <td>
                                    {{ gettext('No') }}
                                </td>
                                <td>
                                    - 
                                </td>
                            {% endif %}

                            <td>
                                <a style="padding: 0 3px" href="{{ request.route_url('updates_tail', sequence=update._id) }}"><span class="fa fa-file"></span> {{ gettext('View') }}</a>
                                <a style="padding: 0 3px" href="{{ request.route_url('updates_log', sequence=update._id) }}"><span class="fa fa-download"></span> {{ gettext('Download') }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="{{ request.route_url('updates_add') }}" class="btn btn-primary"><span class="fa fa-upload"></span> {{ gettext('Add update') }}</a>
        </div>
        <div class="col-sm-6">
            <ul class="pagination pull-right">
                {{ page.pager() }}
            </ul>
        </div>
    </div>
{% endblock %}
