{% extends "base_navbar.jinja2" %}

{% block nav_bar_home %}{% endblock %}
{% block nav_bar_admins %}active{% endblock %}

{% block inner_content %}
    <div class="container" id="admin-container">
        <h1>{{ gettext('Administrators') }}</h1>
        {% block breadcrumbs %}
            <ol class="breadcrumb">
                {% if request.user.get('is_superuser') %}
                    <li><a href="{{ request.route_url('admins') }}">{{ gettext('Administrators') }}</a></li>
                {% endif %}
                <li class="active">{{ gettext('Set variables') }}</li>
            </ol>
        {% endblock %}
        {% block form_content %}
            {{ variables_form|safe }}
        {% endblock %}
    </div>
{% endblock %}


{% block extrajs %}
    <script type="text/javascript">
        (function($){
            var auth_type = $("select[name=auth_type]");
            var auth_type_group = auth_type.parents(".form-group")
            var specific_conf = $("input[name=specific_conf]");
            var specific_conf_group = specific_conf.parents(".form-group");
            var auth_ldap = $("input[name=uri]").parents(".panel");
            var auth_ad = $("input[name=fqdn]").parents(".panel");
            var auth_ad_spec = $("input[name=upload]").parents(".panel");

            var hidden_fields = function () {
                if (auth_type.val() == "LDAP") {
                    specific_conf_group.hide();
                    auth_ad.hide();
                    auth_ad_spec.hide();
                    auth_ldap.show();
                } else {
                    auth_ldap.hide();
                    specific_conf_group.show();
                    if (specific_conf.is(":checked")) {
                        auth_ad_spec.show();
                        auth_ad.hide();
                    } else {
                        auth_ad.show();
                        auth_ad_spec.hide();
                    }
                }

            }
            $(document).ready(function () {
                hidden_fields();
                auth_type.change(hidden_fields);
                specific_conf.change(hidden_fields);
            });
        })(jQuery);
    </script>
{% endblock %}